{{ $bURL := .Site.BaseURL }}
{{- partial "head.html" . -}}
<nav class="navbar navbar-expand-lg navbar-dark p-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ $bURL }}">
      <img src="{{ $bURL }}img/sentify-logo.svg" width="130px" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-uppercase text-lg-start text-end">
        <li class="nav-item">
          <a class="nav-link" href="{{ $bURL }}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ $bURL }}">Our Offerings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ $bURL }}">Case Studies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ if eq .Page.Title `Contact Us` }} active {{ end }}"
            href="{{ $bURL }}">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
