{{ $bURL := .Site.BaseURL }}

{{ partial "header.html" . }}
<img src='{{ $bURL }}img/partners/{{ .Params.graphicImage1 }}.png' class="mobile-graphic">
<section class="container my-5">
  <div class="row">
    <div class="col-12 col-md-12">
      <h1 class="display-4 fw-bold">{{ .Params.title}}</h1>
      <p class="text-muted sz-20 mt-3">{{ .Params.description }} </p>
    </div>
  </div>
</section>

<div class="feature-card p-5 rounded text-center">
  
  <h5 class="text-primary text-uppercase">Try Now</h5>
  <h3 class="display-5 interested">GitLab Ultimate - free for 30 days.</h3>
  <button class="btn btn-outline-light btn-lg mt-4" onclick="location.href='https://page.gitlab.com/sm-free-trial-partner.html?utm_partnerid=0016100000b01gGAAQ';">Sign Up</button>


</div>


<section class="container product-attributes">
  <br>
  <br>
  <div class="row mx-auto d-flex justify-content-center">
    {{ range .Params.attributes }}
      <div class="col-12 col-lg-4 text-center">
        <span class="iconShadow {{.colour }}">
          <img src="{{ $bURL }}img/icons/{{ .icon}}.svg" class="mb-4" alt="">
        </span>
        <h3 class="text-center">{{ .title}}</h3>
        <p class="sz-16 text-center mb-5">{{ .description}}</p>
      </div>
    {{end}}
  </div>
</section>

<section class="container product-attributes">
  <div class="d-flex justify-content-center product-logos align-items-center flex-wrap">
    {{ range .Params.brandLogos }}
        <img src="{{ $bURL }}img/brand-logos/{{ .item }}.png" alt="{{ .item }}">
    {{end}}
  </div>
</section>

<!-- box_panel section -->
{{- partial "box-panel.html" . -}}

<!--{{- partial "box-list-quote.html" . -}}
-->

{{- partial "contact-us.html" . -}}

{{ partial "footer.html" . }}
