{{ $bURL := .Site.BaseURL }}
{{- partial "header.html" . -}}

<section class="container mt-5">
  <h1 class="display-4 font-weight-medium">Case Studies</h1>

  <div class="row mt-5">
    {{ $counter := 0 }}
    {{ range (where .Site.Pages "Section" "case-studies").ByWeight }}
    {{ if ne .Title "Case-studies" }}

    <div class="col-lg-4 col-12 col-sm-6 mb-3 case-studies">
      <a href="{{ .Permalink }}" class="caseStudiesThumbnailHolder "
        style="height: 350px; text-decoration: none; width: 100%;">
        <div class="firstView">
          <div class="logo {{ .Params.modifierClass }}" style="align-self: center; text-align: center;">
            <img width="175px" src="{{ $bURL }}img/brand-logos/{{ .Params.clientLogo }}" alt="">
          </div>
          <div class="p-3 text-white description">
            <div class="case-study-hover {{ .Params.modifierClass }}">
              <img src="{{ $bURL }}img/brand-logos/{{ .Params.clientLogo }}" alt="">
            </div>
            <div class="truncated">{{ .Params.title | truncate 130 }}</div>
            <div class="nonTruncated .taller">{{ .Params.description }}</div>
            <span class="readmore h6"><br>Read More</span>
          </div>
        </div>
      </a>
    </div>



    {{ $counter = add $counter 1 }}
    {{ end }}
    {{ end }}
  </div>
</section>

{{- partial "footer.html" . -}}