/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #131320;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray-600;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cover-background {
  height: 400px;

  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -60px;
}

body {
  background-size: 200%;
  background-position: top center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.bigShoulderText {
  font-family: "Big Shoulders Text", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 500;
}

/* big-shoulders-text-regular - latin */
@font-face {
  font-family: 'Big Shoulders Text';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''),
       url('../fonts/big-shoulders-text-v4-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/big-shoulders-text-v4-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local(''),
       url('../fonts/montserrat-v15-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v15-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''),
       url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local(''),
       url('../fonts/montserrat-v15-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v15-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(''),
       url('../fonts/montserrat-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-900 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local(''),
       url('../fonts/montserrat-v15-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v15-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


.featured-image-holder {
  position: absolute;
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
  height: 600px;
  top: 0;
  right: 50%;
  z-index: -1;
  transform: translate(50%);

  .featured-image-abs {
    position: absolute;
    top: 0;
    right: 0;
    background-color: $gray-600;
    height: 100%;
    width: 45%;
    background-position: center;
    background-size: cover;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }
}

.iconShadow {
  position: relative;
  display: inline-block;

  &.orange {
    &:after {
      position: absolute;
      left: 0;
      content: "";
      height: 70%;
      width: 90%;
      box-shadow: 0px 12px 40px 0px #ee816f85;
    }
  }

  &.blue {
    &:after {
      position: absolute;
      left: 0;
      content: "";
      height: 70%;
      width: 90%;
      box-shadow: 0px 12px 40px 0px #abcfe175;
    }
  }
}

.feature-card {
  background-color: #1b1b28;
}

footer {
  a {
    color: $gray-600;
  }
}

.font-weight-medium {
  font-weight: 500;
}

.case-studies:nth-of-type(odd) {
  .caseStudiesThumbnailHolder {
    background-color: #77b8d8;
  }
}

.case-studies:nth-of-type(even) {
  .caseStudiesThumbnailHolder {
    background-color: #ee816f;
  }
}

.caseStudiesThumbnailHolder:nth-of-type(odd) {
  background-color: #77b8d8;
}

.caseStudiesThumbnailHolder:nth-of-type(even) {
  background-color: #ee816f;
}

.caseStudiesThumbnailHolder {
  display: inline-block;

  .firstView {
    height: inherit;
    display: grid;
    grid-template-rows: 1fr 100px;
    transition: grid-template-rows 0.3s ease;
    text-decoration: none !important;

    .logo {
    }

    .description {
      background-color: rgba(0, 0, 0, 0.3);
      text-decoration: none;
      font-size: 12px;
      overflow: hidden;

      .nonTruncated {
        display: none;
      }

      .truncated {
        display: block;
      }

      img {
        display: none;
      }

      .readmore {
        display: none;
      }
    }

    &:hover {
      grid-template-rows: 1fr;

      .logo {
        display: none;
        img {
          display: none;
        }
      }

      .description {
        background-color: rgba(0, 0, 0, 0);
        margin-top: 40px;

        .nonTruncated {
          display: block;
        }

        .truncated {
          display: none;
        }

        img {
          display: block;
          margin-bottom: 20px;
        }

        .readmore {
          display: block;
        }
      }
    }
  }

  img {
    transition: all 0.3s ease;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }

  &:hover {
    img {
      -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
    }
  }
}

// different text sizes
.sz-12 {
  color: $gray-600;
  font-size: 12px;
}

.sz-14 {
  color:$gray-600;
  font-size: 14px;
}

.sz-16 {
  color: $gray-600;
  font-size: 16px;
}

.sz-20 {
  color: $gray-600;
  font-size: 20px;
}

.sz-24 {
  color: $gray-600;
  font-size: 24px;
}

.cookie-snackbar {
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px;
  transition: bottom 0.3s ease;
  z-index: 1;
  text-align: center;
  position: fixed;
  bottom: -200px;
  left: 0;
  right: 0;

  &.active {
    bottom: 0;
  }
}

.ar:last-child {
  .right-grad {
    &:after {
      display: none;
    }
  }
}

.vertical-grad {
  width: 60px;
  background: linear-gradient(0deg, #EE816F 0%, #171A29 100%);
  margin: 0 auto;
  height: 60px;
  
  width: 6px;
}

@media only screen and (min-width: 1200px) {
  .right-grad {
    position: relative;

    &:after {
      content: "";
      width: 60px;
      background: linear-gradient(260deg, #EE816F 0%, #171A29 100%);
      position: absolute;
      height: 5px;
      top: 8px;
      right: -40px;
      z-index: -2;
    }
  }
}



.colored-list {
    p:nth-child(even) {
      span {
        margin-right: 10px;
        background-color: #77b8d8;
        display: inline-block;
      }
    }
    
  

  p:nth-child(odd) {
    span {
      margin-right: 10px;
      background-color: #ee816f;
      display: inline-block;
    }
  }
    
  
}
