{{- partial "header.html" . -}}



<section class="container my-5 ">
  <div class="row">
    <div class="col-lg-6">
      <h1 class="display-4 font-weight-medium">{{ .Params.heading }}</h1>
      <p class="sz-16">{{ .Params.description }}</p>

    </div>
    <div class="col-6"></div>
  </div>
  <br>
  <!-- locations -->

  </div>

</section>

{{- partial "footer.html" . -}}