{{ $bURL := .Site.BaseURL }}
<section class="container" id="our-offerings">
    <div class="row">
      <div class="col-lg-12 col-12 position-relative">
        <h5 class="text-primary text-uppercase">{{.Params.box_panel.section}}</h5>
        <h2 class="display-4">{{.Params.box_panel.title}}</h2>
        <p class="sz-20">{{.Params.box_panel.description}}</p>
        <div class="position-absolute" style="bottom: 120px; margin-left: -120px;">
        </div>
      </div>
      <div class="col-lg-12 col-12">
        <br> <br>
        <div class="row justify-content-center">
          {{ range .Params.box_panel.boxes }}
          <div class="col-lg-3 col-12">
            <div class="feature-card p-3 rounded mb-3">
              <img src="{{ $bURL }}img/icons/{{.image1}}" class="mb-3 small-icon" alt="">
              <h1>{{.title1}}</h1>
              <p class="sz-14">{{.description1}}</p>
            </div>
            <div class="feature-card p-3 rounded mb-3">
              <img src="{{ $bURL }}img/icons/{{.image2}}" class="mb-3 small-icon" alt="">
              <h1>{{.title2}}</h1>
              <p class="sz-14">{{.description2}}</p>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
    </div>
  </section>