{{ $bURL := .Site.BaseURL }}
<section class="container my-5 ">
    <div class="row">
      <div class="col-lg-6">
        <h1 name="contact" class="display-4 font-weight-medium">Contact Us</h1>
        <a class="sz-16 no-line">If you have any questions please reach out to us.</a>
        <form action="https://getform.io/f/6e00ecb8-5729-489b-b119-cfd3951acfce" class="pt-4" method="POST">
          <div class="row">
            <h6>Name</h6>
            <div class="col-12 mb-3">
              <input name="name" type="text" class="form-control" class="">
            </div>
            <div class="col-12 mb-3">
              <h6>Email Address</h6>
              <input name="email" type="email" class="form-control" >
            </div>
          </div>
          <div class="row">
            <h6>Your Message</h6>
            <div class="col-12">
              <textarea name="message" name="" id="message-content" cols="30" rows="6" class="form-control"
                ></textarea>
            </div>
          </div>
          <p class="text-muted mt-2">When submitting this form you consent to share the information provided with us, for more information please read our <a href="{{ $bURL }}privacy#form">Privacy Statement.</a></p>
          <button type="submit" class="btn btn-lg btn-outline-light">Submit</button>
          
        </form>
  
      </div>
  
    </div>
  </section>