{{ $bURL := .Site.BaseURL }}
<img src='{{ $bURL }}img/cover-background.png' class="mobile-graphic">
<div class="main_animation_container">
    <svg id="sentifySvg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 1440 586.99">
        <defs>
            <clipPath id="clip-path">
                <rect id="sCl" y="-306.51" width="1440" height="1200" fill="none" />
            </clipPath>
            <clipPath id="clip-path-2">
                <path id="sLCL15"
                    d="M1578,326.41,1165.79,326l-103-.12-51.52-.05-25.76,0H962.92l-3.21-.06a371.89,371.89,0,0,1-51.19-4.45c-17-2.56-33.78-6-50.56-9.63-8.4-1.8-16.79-3.61-25.23-5.29-2.1-.44-4.23-.8-6.34-1.2s-4.22-.81-6.35-1.13l-6.38-1c-2.13-.31-4.28-.55-6.41-.83s-4.29-.46-6.45-.62l-3.22-.26c-.54-.06-1.08-.06-1.63-.07l-1.63,0c-2.18-.1-4.33.11-6.51.2-1.09.09-2.16.23-3.24.35l-1.62.19c-.54.06-1.07.17-1.6.26a136,136,0,0,0-25,6.76c-16.22,5.9-31.68,13.5-47.33,20.5-7.83,3.5-15.69,6.92-23.72,9.85a147.78,147.78,0,0,1-24.59,6.94c-8.37,1.42-16.92,1.85-25.27.26A168.55,168.55,0,0,1,610.72,340c-8.1-2.66-16.12-5.75-24.1-8.92s-15.91-6.46-23.87-9.69c-15.91-6.47-32-12.74-48.58-17.45a200.74,200.74,0,0,0-25.3-5.6c-2.14-.29-4.27-.61-6.43-.83l-3.23-.34c-1.08-.11-2.16-.15-3.24-.23s-2.17-.15-3.25-.19l-3.25-.08c-2.17-.08-4.32,0-6.48,0a278.4,278.4,0,0,0-51.43,5.1q-12.69,2.52-25.11,6.28c-8.26,2.47-16.4,5.33-24.47,8.3s-16.07,6.07-24.1,9-16.15,5.71-24.34,8.16-16.47,4.59-24.85,6.29c-2.08.47-4.19.83-6.29,1.23s-4.2.8-6.31,1.1l-6.34,1-6.36.79c-1.06.13-2.12.27-3.18.38l-3.19.31c-2.13.19-4.26.41-6.38.61l-6.41.42-3.19.21-3.21.13-6.41.25c-2.14.07-4.28.06-6.42.09s-4.28.08-6.41.05l-6.4-.13c-2.13,0-4.26-.17-6.39-.29l-3.2-.2c-1.06-.06-2.12-.12-3.18-.24l-6.37-.62-1.59-.16-1.66-.28-3.17-.44c-4.24-.5-8.43-1.34-12.64-2-4.17-.89-8.37-1.67-12.51-2.74s-8.27-2.12-12.39-3.24-8.19-2.41-12.24-3.79-8.09-2.76-12.13-4.18-8-3-12-4.56c-15.94-6.25-31.62-13.26-47.43-20S33.48,290.2,16.92,285.22a211.11,211.11,0,0,0-51-9.32,1.86,1.86,0,0,0-1.65.85,1.85,1.85,0,0,0-.1,1.85,1.87,1.87,0,0,0,1.56,1h0a206.85,206.85,0,0,1,50.13,9.05c16.37,4.89,32.26,11.32,48.05,18s31.53,13.67,47.6,19.93c4,1.59,8,3.09,12.09,4.57s8.12,2.88,12.23,4.18,8.24,2.57,12.37,3.8,8.32,2.3,12.54,3.25,8.43,1.86,12.65,2.74c4.27.71,8.52,1.53,12.8,2.05l3.22.43,1.61.22,1.61.16,6.45.61c1.07.13,2.15.18,3.23.24l3.24.19c2.15.12,4.32.28,6.47.29l6.48.12c2.16,0,4.33-.05,6.47-.07s4.32,0,6.46-.11l6.46-.27,3.23-.13,3.23-.22,6.45-.44c2.15-.18,4.33-.41,6.44-.62l3.22-.3c1.07-.12,2.14-.27,3.22-.4l6.41-.82,6.42-1c2.14-.3,4.26-.74,6.38-1.12s4.24-.77,6.35-1.24c8.46-1.73,16.82-3.91,25.08-6.4S330.73,331,338.8,328s16.07-6.07,24.1-9,16.12-5.83,24.3-8.31,16.47-4.59,24.85-6.27A274.86,274.86,0,0,1,463,299.24c17.08-.53,34,2.37,50.48,7s32.47,10.84,48.38,17.26c8,3.21,15.9,6.48,23.89,9.65s16.07,6.23,24.25,8.91a171.9,171.9,0,0,0,25.08,6.46c2.12.41,4.32.62,6.47.84.55.07,1.09.07,1.64.09l1.63.06a32.42,32.42,0,0,0,3.27,0l3.27-.12c1.09-.08,2.16-.2,3.24-.31l1.63-.16c.54,0,1.07-.16,1.61-.24l3.22-.5A150.94,150.94,0,0,0,686,341.14c8.09-3,16-6.43,23.83-10,15.67-7.06,31.08-14.67,47.16-20.55a134.73,134.73,0,0,1,24.64-6.74c.53-.09,1-.19,1.58-.26l1.58-.18c1-.12,2.11-.26,3.16-.35,2.12-.09,4.24-.3,6.36-.21h1.58a12.09,12.09,0,0,1,1.59.07l3.19.24c2.14.18,4.26.31,6.38.62s4.25.51,6.37.8l6.34,1c2.12.31,4.22.74,6.33,1.11s4.22.75,6.32,1.19c8.42,1.65,16.81,3.45,25.21,5.22,16.8,3.59,33.66,7,50.69,9.54a373.21,373.21,0,0,0,51.4,4.33l3.22.06h48.32l51.52-.06,103-.11Z"
                    fill="none" />
            </clipPath>
            <linearGradient id="linear-gradient" x1="-61.91" y1="308.24" x2="1516.43" y2="308.24"
                gradientUnits="userSpaceOnUse">
                <stop offset="0" stop-color="#ee816f" stop-opacity="0" />
                <stop offset="0.25" stop-color="#ff7070" />
                <stop offset="0.5" stop-color="#9df" />
                <stop offset="1" stop-color="#abcfe1" stop-opacity="0" />
            </linearGradient>
            <clipPath id="clip-path-3">
                <path id="sLCL14"
                    d="M1578,329.61l-428.87-.47-214.43-.22c-2.24,0-4.46-.07-6.68-.1s-4.45-.19-6.67-.33c-4.43-.34-8.87-.74-13.27-1.42s-8.77-1.47-13.12-2.4-8.66-2.1-12.9-3.43a196.5,196.5,0,0,1-24.91-9.56,251,251,0,0,1-23.6-12.51c-15.32-9.13-29.78-19.62-44.07-30.33s-28.43-21.68-43.26-31.75S715.81,217.93,699,211.56c-2.08-.83-4.22-1.52-6.35-2.26s-4.28-1.37-6.46-1.94-4.33-1.13-6.54-1.66c-1.1-.26-2.2-.46-3.3-.7l-1.65-.34-1.67-.28a131.07,131.07,0,0,0-13.4-1.65c-2.25-.13-4.49-.29-6.74-.3s-4.51,0-6.76,0a131.48,131.48,0,0,0-13.45,1c-2.24.24-4.46.66-6.68,1l-3.32.66c-1.1.21-2.2.48-3.29.75s-2.19.5-3.28.82l-3.25.92c-1.08.32-2.15.68-3.22,1s-2.14.72-3.2,1.1c-2.13.74-4.21,1.61-6.3,2.45S596,214,593.92,215a152.12,152.12,0,0,0-23.06,14,244.7,244.7,0,0,0-20.72,17.17c-13.27,12.07-25.58,25.05-38.63,37.18a261.28,261.28,0,0,1-20.32,17.27A154.93,154.93,0,0,1,468.8,314.9q-5.91,3-12.09,5.44a121.12,121.12,0,0,1-12.62,4.05,118.79,118.79,0,0,1-13,2.61l-3.28.43c-1.1.14-2.2.21-3.3.32-2.21.24-4.42.3-6.62.44-1.1,0-2.21,0-3.32.06l-1.66,0c-.55,0-1.09,0-1.64-.06l-3.26-.14-3.25-.41c-.54-.08-1.09-.11-1.62-.24l-1.6-.33-1.61-.34a14.12,14.12,0,0,1-1.59-.37l-3.16-.91-.79-.22-.77-.28-1.55-.56a97.22,97.22,0,0,1-23.15-12.58,188.7,188.7,0,0,1-20.4-17c-6.44-6.12-12.6-12.56-18.54-19.16-11.94-13.23-23.22-27.08-34.39-41-22.31-27.89-44.2-56.25-68.13-82.89q-9-10-18.36-19.62t-19.32-18.7q-9.88-9.11-20.5-17.45c-7.06-5.56-14.3-10.89-21.85-15.77A255.68,255.68,0,0,0,124.1,66.7,210.67,210.67,0,0,0,99.27,56.07,184.43,184.43,0,0,0,46.34,45.62a1.86,1.86,0,0,0-1.65.85,1.83,1.83,0,0,0-.09,1.85,1.86,1.86,0,0,0,1.56,1h0A180.52,180.52,0,0,1,98.08,59.46a205.92,205.92,0,0,1,24.43,10.4,252,252,0,0,1,23,13.29C153,88,160.19,93.21,167.18,98.69s13.79,11.24,20.35,17.25,13,12.17,19.23,18.54,12.33,12.87,18.31,19.48c23.88,26.5,45.8,54.73,68.19,82.6,11.22,13.92,22.55,27.78,34.61,41.06,6,6.63,12.24,13.11,18.77,19.28a191.26,191.26,0,0,0,20.76,17.23A99.52,99.52,0,0,0,391.23,327l1.61.58.8.29.82.23,3.29.94a16,16,0,0,0,1.66.39l1.68.35,1.67.34c.56.13,1.13.16,1.7.25l3.4.42,3.43.14c.57,0,1.15.07,1.71.06l1.69,0c1.13,0,2.26,0,3.38-.07,2.25-.14,4.51-.21,6.75-.46,1.13-.11,2.25-.18,3.37-.34l3.28-.46a120.72,120.72,0,0,0,26.15-6.88A134.1,134.1,0,0,0,470,317.17a157.05,157.05,0,0,0,22.72-14.55,264.85,264.85,0,0,0,20.48-17.51c13.1-12.24,25.38-25.24,38.53-37.26a247.73,247.73,0,0,1,20.54-17A150.88,150.88,0,0,1,594.94,217c2-1,4-1.85,6-2.76s4.1-1.69,6.18-2.42c1-.38,2.08-.76,3.14-1.09s2.1-.7,3.16-1l3.19-.91c1.07-.32,2.15-.54,3.22-.82s2.16-.53,3.24-.73l3.25-.67c2.19-.35,4.37-.77,6.57-1a130.68,130.68,0,0,1,13.25-1.06c2.22,0,4.44-.11,6.65,0s4.43.15,6.65.28a127.25,127.25,0,0,1,13.19,1.59l1.64.28,1.63.33c1.08.23,2.18.42,3.25.68,2.16.51,4.33,1,6.45,1.62s4.26,1.24,6.38,1.9,4.21,1.4,6.28,2.22c16.65,6.24,32.14,15.25,46.91,25.22s28.91,20.92,43.26,31.61,28.86,21.19,44.28,30.33a254.07,254.07,0,0,0,23.77,12.54,199.67,199.67,0,0,0,25.14,9.56c4.28,1.33,8.65,2.41,13,3.43s8.79,1.8,13.23,2.39,8.92,1.08,13.39,1.41c2.23.13,4.48.23,6.71.31s4.5.1,6.73.08l214.43-.23Z"
                    fill="none" />
            </clipPath>
            <linearGradient id="linear-gradient-2" x1="-16.96" y1="181.56" x2="1523.67" y2="181.56"
                xlink:href="#linear-gradient" />
            <clipPath id="clip-path-4">
                <path id="sLCL13"
                    d="M1578,332.77l-402.42-.46-201.21-.23L873.76,332l-50.3-.06H785.73l-12.57-.19c-4.18-.07-8.36-.1-12.56-.21L748.06,331l-6.28-.27-3.13-.14-3.13-.23L723,329.37c-2.08-.17-4.17-.29-6.25-.5l-6.24-.67L698,326.84l-12.42-1.76-6.21-.89-6.18-1.1c-4.11-.75-8.24-1.44-12.37-2.25l-12.25-2.68-3.09-.67-3-.79-6.07-1.57-6.07-1.57-6-1.81a358.6,358.6,0,0,1-47-17.48A455.39,455.39,0,0,1,533,270.78c-14.4-8.55-28.54-17.57-43.23-25.78-7.3-4.17-14.84-7.93-22.48-11.5a214.79,214.79,0,0,0-23.63-9,207.39,207.39,0,0,0-49.69-9l-1.58-.13-.79-.06h-.79l-3.16-.08-6.32-.16-3.16-.09-3.16.09-6.33.16-1.58,0a9.31,9.31,0,0,0-1.58.09l-3.15.25-6.31.51c-.53,0-1.05.07-1.58.13l-1.57.21-3.13.42-6.27.84a264,264,0,0,0-48.8,13,473,473,0,0,0-46.25,20.12c-15.08,7.4-29.9,15.28-44.79,23S173.83,289,158.57,295.88a455.65,455.65,0,0,1-46.67,18.18,349.67,349.67,0,0,1-48.54,12,344.57,344.57,0,0,1-49.76,4.82h0a1.86,1.86,0,1,0,.1,3.71h0a347.56,347.56,0,0,0,50.27-5,353.14,353.14,0,0,0,49-12.24,461.43,461.43,0,0,0,47-18.42c15.33-6.93,30.32-14.51,45.22-22.25s29.66-15.59,44.68-23a465.47,465.47,0,0,1,45.9-20.11,262.57,262.57,0,0,1,48.21-13l6.18-.84,3.09-.42,1.55-.21c.52-.06,1-.1,1.56-.14l6.22-.52,3.09-.26c.51-.05,1-.07,1.56-.08l1.56-.05,6.25-.18,3.12-.08,3.12.07,6.25.15,3.13.07h.78l.78.07,1.56.11A204.08,204.08,0,0,1,443,227a210.2,210.2,0,0,1,23.36,8.84c7.56,3.52,15,7.22,22.31,11.35,14.62,8.12,28.76,17.14,43.27,25.65a471.17,471.17,0,0,0,44.59,23.49,361.19,361.19,0,0,0,47.28,17.48l6,1.81,6.11,1.57,6.1,1.56,3.06.78,3.09.67,12.32,2.66c4.12.8,8.27,1.49,12.4,2.24l6.18,1.09,6.24.88,12.48,1.74,12.53,1.32,6.26.67c2.09.2,4.19.31,6.28.48l12.56.91,3.14.23,3.14.13,6.29.27,12.59.52c4.19.1,8.39.12,12.58.19l12.59.15h12.57l25.16,0,50.3-.05,100.61-.12,201.21-.23Z"
                    fill="none" />
            </clipPath>
            <linearGradient id="linear-gradient-3" x1="-56.36" y1="276.82" x2="1522.39" y2="276.82"
                xlink:href="#linear-gradient" />
            <clipPath id="clip-path-5">
                <path id="sLCL12"
                    d="M1578,329.65l-436.76-.46-109.19-.11-27.29-.05-13.6-.29c-1.14,0-2.27,0-3.41-.1l-3.39-.21-6.8-.41a426.66,426.66,0,0,1-54-7.18L910.25,318,897,314.63l-1.65-.43-1.64-.46-3.27-.94-6.55-1.86c-2.2-.62-4.33-1.3-6.52-2l-6.49-2.07c-17.27-5.64-34.25-12.19-51-19.25-33.53-14.11-66.13-30.38-99.62-44.68-16.76-7.14-33.77-13.75-51.19-19.21a332.27,332.27,0,0,0-53.3-12.25l-6.8-.83-3.4-.42-1.7-.21c-.56-.06-1.14-.09-1.71-.13l-6.83-.52-3.41-.25-1.71-.13c-.57,0-1.14,0-1.71-.06l-6.85-.17-3.42-.09c-1.14,0-2.29-.08-3.43,0l-3.44.06c-1.15,0-2.29.11-3.43.16-2.3.08-4.58.35-6.86.54a132.8,132.8,0,0,0-13.6,2.2,130.38,130.38,0,0,0-13.27,3.67,133.94,133.94,0,0,0-12.77,5.13c-4.17,1.92-8.21,4.09-12.17,6.41s-7.8,4.82-11.53,7.46-7.42,5.38-11,8.24c-7.13,5.7-14,11.74-20.71,17.87-13.48,12.25-26.66,24.8-41.05,35.81-3.6,2.75-7.26,5.42-11,7.95s-7.56,4.94-11.48,7.19-7.91,4.37-12,6.3c-1,.5-2.05.94-3.09,1.41s-2.05.93-3.09,1.35l-3.09,1.3-3.16,1.2c-1.05.41-2.12.78-3.19,1.14s-2.13.75-3.2,1.09c-2.16.65-4.33,1.36-6.49,1.93-4.32,1.23-8.75,2.18-13.17,3a182.9,182.9,0,0,1-26.92,2.85c-2.26.07-4.52.08-6.79.11L315,333l-1.69,0c-.56,0-1.12,0-1.68-.08a115.45,115.45,0,0,1-13.38-1.59,120.3,120.3,0,0,1-25.82-7.64c-16.61-7-31.74-17.24-45.59-28.85S200.13,270.22,187.67,257s-24.57-26.81-37-40.18-25.05-26.51-38.5-38.87a328.18,328.18,0,0,0-43-33.94,238.33,238.33,0,0,0-23.84-13.66,207.09,207.09,0,0,0-25.4-10.58A203.3,203.3,0,0,0-34,109.41a1.86,1.86,0,0,0-2,1.75,1.86,1.86,0,0,0,1.75,2h0a199.27,199.27,0,0,1,53,10.07,204.71,204.71,0,0,1,25,10.34A236.48,236.48,0,0,1,67.27,147a323.77,323.77,0,0,1,42.65,33.5c13.34,12.23,26,25.31,38.39,38.61s24.54,26.85,37.09,40.1,25.43,26.19,39.49,37.91,29.41,22.08,46.4,29.21A124.21,124.21,0,0,0,297.73,334a121.16,121.16,0,0,0,13.71,1.6c.57.05,1.15.07,1.72.08l1.73,0,3.45.08c2.29,0,4.58,0,6.87-.12a185.85,185.85,0,0,0,27.32-3c4.5-.9,9-1.86,13.4-3.14,2.21-.57,4.4-1.3,6.59-2,1.09-.35,2.17-.74,3.26-1.11s2.16-.75,3.23-1.18l3.21-1.23,3.18-1.33c1.06-.43,2.11-.91,3.15-1.38s2.1-.93,3.09-1.44c4.15-2,8.19-4.14,12.17-6.42s7.82-4.76,11.62-7.32,7.48-5.28,11.12-8c14.51-11.13,27.71-23.79,41.13-36,6.71-6.12,13.5-12.14,20.57-17.82q5.29-4.26,10.84-8.18c3.71-2.61,7.47-5.09,11.36-7.37s7.87-4.44,12-6.34a131.73,131.73,0,0,1,12.53-5.06,128.26,128.26,0,0,1,13-3.64,133.54,133.54,0,0,1,13.35-2.18c2.25-.2,4.49-.46,6.75-.54,1.12-.06,2.25-.14,3.38-.17l3.38-.07c1.13,0,2.27,0,3.4,0l3.4.08,6.79.16c.57,0,1.14,0,1.7,0l1.7.13,3.39.25,6.8.49c.56,0,1.13.07,1.69.14l1.69.19,3.38.41,6.75.82a329.4,329.4,0,0,1,53,12.06c17.31,5.4,34.31,11.95,51,19,33.48,14.21,66.14,30.41,99.73,44.46,16.79,7.05,33.82,13.6,51.15,19.2l6.52,2.06c2.17.69,4.33,1.39,6.54,2l6.57,1.85,3.29.94,1.65.47,1.65.42,13.27,3.3,13.33,2.84a427.71,427.71,0,0,0,54.18,7.1l6.8.4,3.41.2c1.14.08,2.27.06,3.41.09l13.67.26H1032l109.19-.11Z"
                    fill="none" />
            </clipPath>
            <linearGradient id="linear-gradient-4" x1="-62.15" y1="217.56" x2="1523.75" y2="217.56"
                xlink:href="#linear-gradient" />
            <clipPath id="clip-path-6">
                <path id="sLCL11"
                    d="M1578,330.63l-227.17-.23-113.58-.12H1223c-4.73,0-9.45,0-14.21-.12q-14.19-.32-28.31-1.72a308.72,308.72,0,0,1-55.63-10.66,293.49,293.49,0,0,1-52.54-21.09c-8.4-4.32-16.62-9-24.72-13.93s-16-10.07-23.94-15.24-15.85-10.35-24-15.19a168,168,0,0,0-25.48-12.68,86,86,0,0,0-27.86-5.91,94.37,94.37,0,0,0-28.27,3.5,135.33,135.33,0,0,0-26.43,10.65,255.42,255.42,0,0,0-24.38,14.69c-15.73,10.59-30.7,22.22-46.26,33-7.77,5.37-15.69,10.51-23.91,15.16a170.74,170.74,0,0,1-25.55,12,116.08,116.08,0,0,1-27.31,6.47l-3.5.32-3.52.18-3.51.08c-1.17,0-2.33-.07-3.5-.1a58.08,58.08,0,0,1-13.72-2.42A73.62,73.62,0,0,1,692,313.81a141.4,141.4,0,0,1-19.86-20c-3-3.62-5.91-7.34-8.73-11.12s-5.53-7.65-8.21-11.54c-5.34-7.79-10.51-15.73-15.6-23.69-10.25-15.9-20.4-32-32.06-47a180.15,180.15,0,0,0-19.12-21.19,110.8,110.8,0,0,0-11.07-9.1A81.84,81.84,0,0,0,565,162.92,64.5,64.5,0,0,0,522.72,158a58.31,58.31,0,0,0-13.6,4.95c-8.65,4.38-16,10.85-22.25,18.11a146.06,146.06,0,0,0-16.07,23.64c-9.3,16.62-16.69,34.13-24.59,51.3-4,8.57-8,17.1-12.61,25.34A149.3,149.3,0,0,1,418,304.7c-6,7.17-13,13.53-21.12,17.89a56.28,56.28,0,0,1-26.58,6.64,54.26,54.26,0,0,1-13.66-1.74,66.16,66.16,0,0,1-13-4.95l-1.55-.78-.79-.39-.76-.42-3-1.73c-1-.62-2-1.24-3-1.86l-1.48-.94-1.44-1a140.08,140.08,0,0,1-11.13-8.53c-14.33-12.16-26.92-26.32-38.94-40.84s-23.49-29.62-34.94-44.68-22.92-30.16-34.82-44.93-24.24-29.21-37.59-42.76c-6.68-6.8-13.6-13.3-20.9-19.45a202.54,202.54,0,0,0-23.11-17A145,145,0,0,0,104.6,84.28a109.59,109.59,0,0,0-28.07-6.47,1.85,1.85,0,0,0-.33,3.68h0a105.57,105.57,0,0,1,27.1,6.18,140.73,140.73,0,0,1,25,12.55A198.41,198.41,0,0,1,151,116.87c7.2,6,14.08,12.49,20.71,19.16,13.26,13.4,25.56,27.75,37.45,42.43S232.49,208.2,244,223.25s23,30.1,35.12,44.7,24.84,28.82,39.44,41.16A143,143,0,0,0,330,317.76l1.47,1,1.52,1c1,.62,2,1.29,3.06,1.91l3.14,1.77.78.44.81.4,1.62.8a68.23,68.23,0,0,0,13.53,5.12A56.6,56.6,0,0,0,370.3,332a59.28,59.28,0,0,0,27.92-7c8.57-4.6,15.81-11.24,21.92-18.61A153.61,153.61,0,0,0,436,282.5c4.6-8.32,8.65-16.92,12.64-25.52,7.92-17.22,15.23-34.7,24.4-51.16a147.07,147.07,0,0,1,15.77-23.27A71.14,71.14,0,0,1,510.22,165a55.78,55.78,0,0,1,13-4.74A61.92,61.92,0,0,1,564,165,79.67,79.67,0,0,1,576.05,172a110,110,0,0,1,10.86,8.9,179.54,179.54,0,0,1,18.92,20.89c11.62,14.83,21.76,30.85,32,46.74,5.14,8,10.31,15.9,15.68,23.71q4.07,5.85,8.29,11.58c2.84,3.8,5.77,7.55,8.82,11.19a144.76,144.76,0,0,0,20.17,20.2,75.71,75.71,0,0,0,25.09,13.66,58.89,58.89,0,0,0,14.17,2.47c1.2,0,2.4.1,3.6.09l3.58-.07,3.58-.2,3.56-.33a117.6,117.6,0,0,0,27.75-6.64A171,171,0,0,0,798,312.14c8.25-4.69,16.21-9.89,24-15.28,15.58-10.81,30.52-22.47,46.18-33.05a254.45,254.45,0,0,1,24.2-14.66,134.69,134.69,0,0,1,26.14-10.59A93,93,0,0,1,946.32,235a85.82,85.82,0,0,1,27.46,5.77,164.85,164.85,0,0,1,25.34,12.54c8.16,4.79,16.07,10,24,15.12s15.92,10.31,24,15.21,16.35,9.61,24.79,13.92a293.84,293.84,0,0,0,52.76,21,309.4,309.4,0,0,0,55.79,10.58q14.15,1.4,28.37,1.67c4.74.08,9.48.1,14.22.09h14.21l113.56-.12Z"
                    fill="none" />
            </clipPath>
            <linearGradient id="linear-gradient-5" x1="36.48" y1="201.98" x2="1516.32" y2="201.98"
                xlink:href="#linear-gradient" />
            <clipPath id="clip-path-7">
                <path id="sLCL10"
                    d="M1578,332.78q-210.76.51-421.53.34l-105.38-.29-52.69-.29q-26.34-.15-52.68-.5l-6.56-.2-6.56-.41-1.64-.1-1.63-.17-3.27-.32-3.27-.32-3.25-.43a225.92,225.92,0,0,1-25.81-4.81,253.46,253.46,0,0,1-49.3-17.92,340.43,340.43,0,0,1-45.24-26.64c-14.42-10-28.21-20.84-41.66-32.09S731,225.7,717.77,214.08,691.33,190.91,677.5,180c-6.92-5.44-14-10.7-21.27-15.66a237.59,237.59,0,0,0-22.62-13.72A170.35,170.35,0,0,0,609.35,140c-.53-.18-1.05-.38-1.57-.54L606.2,139,603,138c-2.13-.62-4.27-1.16-6.42-1.71l-3.25-.7a32.66,32.66,0,0,0-3.25-.62c-2.19-.36-4.36-.8-6.57-1a120.53,120.53,0,0,0-26.58-.5,111.52,111.52,0,0,0-26,5.79,123.22,123.22,0,0,0-23.89,11.61,163.55,163.55,0,0,0-21.22,15.91,234.51,234.51,0,0,0-18.81,18.63c-5.94,6.52-11.58,13.3-17,20.22-10.9,13.83-21.06,28.2-31.32,42.44-5.12,7.13-10.27,14.22-15.57,21.2s-10.74,13.84-16.51,20.4c-2.86,3.3-5.85,6.48-8.89,9.6s-6.23,6.09-9.54,8.92c-.81.72-1.66,1.38-2.47,2.08s-1.67,1.38-2.54,2l-2.59,2L358,316.08a88.47,88.47,0,0,1-11.19,6.49,75.12,75.12,0,0,1-12.06,4.52,67.13,67.13,0,0,1-12.68,2,51.93,51.93,0,0,1-12.75-.76,65.61,65.61,0,0,1-12.36-3.62,119.55,119.55,0,0,1-22.74-12.47,258.78,258.78,0,0,1-20.77-15.94c-13.41-11.25-26.23-23.26-39.29-35s-26.35-23.36-40.48-34c-7.08-5.27-14.35-10.32-21.92-14.9a193,193,0,0,0-23.56-12.29,142.93,142.93,0,0,0-25.25-8.37,122.66,122.66,0,0,0-26.52-3.06,1.86,1.86,0,1,0,0,3.71h0a119,119,0,0,1,25.72,2.91,140.13,140.13,0,0,1,24.7,8.07c16,6.91,30.83,16.28,44.84,26.69s27.26,21.94,40.31,33.66,25.92,23.71,39.46,35c6.77,5.64,13.73,11.09,21.05,16.07a120.61,120.61,0,0,0,23.39,12.75,68.47,68.47,0,0,0,12.92,3.75,54.37,54.37,0,0,0,13.48.78,70.51,70.51,0,0,0,13.3-2.14,78.57,78.57,0,0,0,12.57-4.7,91.44,91.44,0,0,0,11.56-6.74l2.73-1.91,2.66-2c.89-.66,1.75-1.37,2.6-2.08s1.73-1.4,2.56-2.13c3.36-2.91,6.57-6,9.68-9.11s6.11-6.4,9-9.74c5.82-6.64,11.28-13.57,16.59-20.59s10.46-14.15,15.58-21.29c10.23-14.29,20.34-28.63,31.16-42.42,5.4-6.9,11-13.64,16.86-20.11a232.45,232.45,0,0,1,18.54-18.47A161,161,0,0,1,508.45,153a120.91,120.91,0,0,1,23.39-11.43,109.48,109.48,0,0,1,25.34-5.72,117.92,117.92,0,0,1,26,.44c2.17.21,4.32.61,6.45,1,1.08.16,2.13.41,3.2.62l3.19.68c2.11.53,4.22,1.07,6.31,1.67l3.13.95,1.56.48,1.54.53a169.87,169.87,0,0,1,24,10.44A233.27,233.27,0,0,1,655,166.14c7.25,4.91,14.29,10.12,21.19,15.52,13.8,10.82,27.05,22.34,40.26,33.91s26.35,23.23,39.86,34.48,27.37,22.13,41.87,32.14a341.66,341.66,0,0,0,45.55,26.63,255.37,255.37,0,0,0,49.64,17.89,228.7,228.7,0,0,0,25.95,4.81l3.28.42,3.29.33,3.29.31,1.64.15,1.65.11,6.59.4,6.61.19q26.36.29,52.69.39l52.7.16,105.38.06Q1367.24,333.86,1578,332.78Z"
                    fill="none" />
            </clipPath>
            <linearGradient id="linear-gradient-6" x1="-10.79" y1="232.09" x2="1539.65" y2="232.09"
                xlink:href="#linear-gradient" />
            <clipPath id="clip-path-8">
                <path id="sLCL9"
                    d="M1578,332.24q-206.61-2.62-413.24-4.75c-68.87-.66-137.75-1.31-206.63-1.5h-6.46c-2.15,0-4.29-.09-6.44-.13l-3.22-.08q-1.6,0-3.21-.12l-6.43-.42-3.22-.21-3.22-.37-6.41-.66c-2.13-.24-4.25-.59-6.38-.87l-3.19-.45c-1.06-.14-2.13-.29-3.18-.5a418.78,418.78,0,0,1-50.17-11.74c-33-9.8-65.06-22.37-97.65-33.65-16.28-5.65-32.68-11-49.29-15.62a481.34,481.34,0,0,0-50.48-11.39,380.09,380.09,0,0,0-51.51-5.08l-6.47-.13-3.24-.06c-1.08,0-2.17,0-3.25,0-2.17,0-4.33.15-6.51.24-1.08.05-2.15.16-3.23.24s-2.17.17-3.25.3l-3.23.35-3.22.46-1.61.24-1.6.28c-1.07.19-2.14.36-3.21.56-4.25.84-8.48,1.86-12.65,3-16.72,4.7-32.5,12.17-47.47,20.76S479.44,289.26,465,298.68s-28.91,18.63-44.12,26.58a244.3,244.3,0,0,1-47.6,19.16,216.43,216.43,0,0,1-25.07,5.42,225.14,225.14,0,0,1-25.53,2.38,180.85,180.85,0,0,1-25.6-.7A152.88,152.88,0,0,1,272,346.8c-16.49-4.47-32.1-11.74-46.7-20.64-7.3-4.47-14.37-9.32-21.26-14.42s-13.6-10.47-20.2-15.94c-13.22-11-26-22.46-39.21-33.6-6.59-5.56-13.25-11.06-20.07-16.37s-13.83-10.4-21-15.18a235.23,235.23,0,0,0-22.39-13.22A189.32,189.32,0,0,0,57.26,207a175.17,175.17,0,0,0-51-10,1.86,1.86,0,1,0-.16,3.71h0a171.18,171.18,0,0,1,50.08,9.59A186.62,186.62,0,0,1,79.59,220.5a232.74,232.74,0,0,1,22.1,13c7.15,4.71,14.09,9.74,20.87,15s13.42,10.69,20,16.23c13.14,11.09,26,22.54,39.31,33.53,6.66,5.5,13.42,10.88,20.4,16s14.11,10,21.52,14.53a208.56,208.56,0,0,0,23,12.11,166.33,166.33,0,0,0,24.51,8.77,156.92,156.92,0,0,0,25.61,4.75,185,185,0,0,0,26,.66,228.78,228.78,0,0,0,25.86-2.48A215.84,215.84,0,0,0,374.17,347a247.14,247.14,0,0,0,48.06-19.46c15.29-8,29.9-17.3,44.29-26.8s28.62-19.16,43.49-27.71,30.43-16,46.9-20.64q6.18-1.74,12.46-3l3.15-.57,1.58-.28,1.58-.23,3.17-.45,3.19-.37c1.06-.13,2.12-.21,3.19-.29s2.13-.2,3.19-.25c2.14-.1,4.27-.25,6.41-.25,1.07,0,2.13-.05,3.2-.05l3.22.06,6.44.11a381.1,381.1,0,0,1,51.24,4.94A480.16,480.16,0,0,1,709.21,263c16.57,4.58,32.95,9.89,49.21,15.48C791,289.7,823.1,302.21,856.2,312a421.51,421.51,0,0,0,50.38,11.7c1.06.2,2.13.35,3.2.49l3.2.45c2.14.28,4.27.62,6.42.86l6.44.65,3.22.33,3.23.2,6.46.4c1.08.09,2.16.1,3.24.12l3.23.06c2.16,0,4.33.11,6.48.12h6.43c68.87,0,137.74.54,206.62,1Q1371.38,330,1578,332.24Z"
                    fill="none" />
            </clipPath>
            <linearGradient id="linear-gradient-7" x1="-20.23" y1="275.67" x2="1526.72" y2="275.67"
                xlink:href="#linear-gradient" />
            <clipPath id="clip-path-9">
                <path id="sLCL8"
                    d="M118.67,368.76a129.34,129.34,0,0,0,23.27-4,191.5,191.5,0,0,0,22.25-7.53c14.52-5.86,28.43-12.92,42.34-19.78s27.89-13.6,42.34-19.08c7.22-2.74,14.54-5.2,22-7.28a205,205,0,0,1,22.58-4.91l5.72-.84,5.75-.62c1.91-.24,3.84-.29,5.75-.43s3.85-.29,5.78-.29a161.46,161.46,0,0,1,23.06.75c15.34,1.53,30.44,5.09,45.28,9.47s29.52,9.53,44.34,14.27c7.41,2.37,14.83,4.68,22.36,6.76s15.07,4,22.7,5.61A295.41,295.41,0,0,0,520.51,347a226.25,226.25,0,0,0,23.44.1,226.8,226.8,0,0,0,23.25-2.91c15.37-2.66,30.51-6.36,45.58-10.16s30.09-7.77,45.22-11.13l5.68-1.24,5.7-1.15c1.9-.36,3.79-.78,5.7-1.11l5.72-1,2.87-.48c1-.15,1.91-.27,2.87-.4l5.75-.78c1-.15,1.91-.22,2.87-.3l2.86-.25c1-.07,1.93-.07,2.88-.12s1.92-.09,2.88-.06a105.46,105.46,0,0,1,22.87,2.6,158.1,158.1,0,0,1,22.09,6.85c7.22,2.78,14.31,5.92,21.38,9.13s14.16,6.42,21.41,9.3c3.64,1.43,7.3,2.8,11,3.95l1.4.44,1.41.4c1,.27,1.86.55,2.84.79,1.91.46,3.8.95,5.74,1.28s3.88.62,5.83.93c2,.16,3.91.39,5.89.4s3.91,0,5.87,0c1,0,2,0,2.92-.06l2.92-.15a186.72,186.72,0,0,0,46-8.15c15-4.49,29.28-10.61,43.93-15.65s29.78-8.79,45.23-9.73,30.9.74,46.36,2.47,30.84,3.82,46.35,5.31a464.72,464.72,0,0,0,46.59,2.4l93.24-.81q93.23-.62,186.45-.78t186.46-.14q-93.23-.31-186.46-.31t-186.46.31l-93.23.51a462.25,462.25,0,0,1-46.46-2.5c-15.45-1.53-30.85-3.57-46.29-5.42-7.72-.91-15.45-1.81-23.21-2.37a169.07,169.07,0,0,0-23.39-.25c-15.61.91-31,4.6-45.65,9.7S897.8,337.62,883,342a185.08,185.08,0,0,1-45.61,8l-2.9.13c-1,.05-1.93,0-2.9.06-1.93,0-3.88.09-5.78,0s-3.82-.25-5.73-.41-3.8-.5-5.68-.91l-5.62-1.24c-.93-.24-1.86-.52-2.78-.78l-1.39-.39L803.2,346c-3.71-1.14-7.3-2.51-10.89-3.92-14.36-5.76-28.21-12.93-42.77-18.55a161,161,0,0,0-22.37-7,107.93,107.93,0,0,0-23.35-2.71c-1,0-2,0-2.94.06s-2,.05-3,.11l-2.93.25c-1,.08-2,.15-2.93.3l-5.8.77c-1,.13-1.94.25-2.9.4l-2.89.48-5.76,1c-1.92.33-3.82.74-5.74,1.1l-5.73,1.14-5.7,1.24c-15.2,3.36-30.25,7.28-45.32,11s-30.16,7.42-45.41,10a179.29,179.29,0,0,1-46.13,2.66,292.92,292.92,0,0,1-46-6.27c-7.56-1.64-15.07-3.53-22.52-5.62s-14.83-4.4-22.25-6.8c-14.77-4.76-29.43-10-44.37-14.4s-30.22-8.1-45.82-9.69a165.81,165.81,0,0,0-23.48-.83c-2,0-3.92.16-5.87.28s-3.92.2-5.86.44l-5.84.62-5.82.83a211.77,211.77,0,0,0-23,4.94c-7.54,2.11-15,4.57-22.25,7.33-14.62,5.56-28.71,12.26-42.67,19.1s-27.82,13.84-42.15,19.58A186.49,186.49,0,0,1,141,361.23a125.45,125.45,0,0,1-22.61,3.85,1.86,1.86,0,1,0,.26,3.71Z"
                    fill="none" />
            </clipPath>
            <linearGradient id="linear-gradient-8" x1="92.24" y1="335.67" x2="1531.04" y2="335.67"
                xlink:href="#linear-gradient" />
            <clipPath id="clip-path-10">
                <path id="sLCL7"
                    d="M-34.11,539.46C3.59,539,41.42,534.78,78,525.35c1.15-.28,2.29-.62,3.42-.92l3.42-1,3.41-1c1.14-.31,2.28-.62,3.4-1,4.51-1.42,9-2.76,13.49-4.37,8.95-3,17.74-6.55,26.4-10.33l6.46-2.91c2.14-1,4.25-2.07,6.38-3.1,1.06-.52,2.13-1,3.18-1.57l3.14-1.64,3.14-1.65c1.05-.54,2.1-1.1,3.09-1.69l6.18-3.48c2-1.18,4.06-2.43,6.09-3.64s4-2.47,6-3.76,4-2.52,5.93-3.88c7.88-5.23,15.45-10.89,22.87-16.79s14.52-12.1,21.42-18.54a535.27,535.27,0,0,0,39-41c12.36-14.22,24.1-28.93,36.29-43.27,6.09-7.15,12.29-14.21,18.77-20.94,3.23-3.4,6.58-6.66,10-9.89,1.73-1.57,3.44-3.16,5.21-4.68s3.53-3.05,5.38-4.46l2.75-2.17,2.82-2.06,1.41-1c.48-.34,1-.65,1.45-1l2.9-1.94A110.29,110.29,0,0,1,363.58,305a96.47,96.47,0,0,1,12.95-5.05l3.35-.93c.55-.15,1.11-.32,1.67-.45l1.7-.36,3.4-.73,3.44-.52c2.28-.4,4.61-.51,6.91-.75l.87-.07h.87l1.74-.06L404,296a91.41,91.41,0,0,1,13.82,1.18,108.43,108.43,0,0,1,13.52,3.33c1.1.36,2.2.75,3.29,1.13.55.19,1.11.38,1.65.58l1.63.61c1.08.44,2.17.84,3.24,1.3l3.21,1.4c4.24,1.92,8.41,4,12.48,6.32s8,4.72,12,7.25c7.85,5.11,15.46,10.63,22.84,16.38,14.8,11.55,29,23.93,43.09,36.32s28.24,24.89,42.78,36.87a525.52,525.52,0,0,0,45.26,33.86,292.65,292.65,0,0,0,49.82,26.76,217.22,217.22,0,0,0,26.86,9,192,192,0,0,0,27.85,5.13l3.53.34c1.18.11,2.36.24,3.54.29l3.54.2c1.18.07,2.35.15,3.54.15,4.72.12,9.46.15,14.18-.15l3.54-.22,3.54-.34,1.76-.18,1.76-.23,3.52-.48c4.67-.73,9.31-1.7,13.89-2.89a144.67,144.67,0,0,0,26.58-9.81c4.24-2.11,8.41-4.33,12.46-6.8s8-5,11.85-7.76C850,444.6,863.74,431.6,876.85,418.1s25.63-27.58,38.9-40.88q4.93-5,10.13-9.79t10.59-9.27a150.4,150.4,0,0,1,23.1-15.91,98.9,98.9,0,0,1,26.1-10,86.36,86.36,0,0,1,13.86-2c4.65-.29,9.36-.2,14.07-.21l112.88-.12,451.52-.39-451.52-.46L1013.6,329c-4.69,0-9.4-.09-14.14.19a87.53,87.53,0,0,0-14.05,2A101.17,101.17,0,0,0,959,341.23a152.33,152.33,0,0,0-23.33,16q-5.49,4.47-10.67,9.27t-10.19,9.79c-13.33,13.32-25.86,27.37-39,40.8s-26.85,26.34-42.17,37.17c-3.81,2.72-7.76,5.24-11.74,7.66s-8.15,4.6-12.36,6.67a142.34,142.34,0,0,1-26.29,9.65,134.21,134.21,0,0,1-13.73,2.82l-3.47.47-1.74.23-1.75.17-3.48.33-3.51.21c-4.66.28-9.34.24-14,.12-1.17,0-2.34-.09-3.51-.16l-3.5-.2c-1.17-.05-2.33-.19-3.5-.3l-3.48-.29A188.41,188.41,0,0,1,700,476.51a212.48,212.48,0,0,1-26.58-9,293,293,0,0,1-49.45-26.67,521.89,521.89,0,0,1-45-33.82c-14.47-12-28.53-24.47-42.64-36.91s-28.28-24.87-43.13-36.5c-7.42-5.8-15.06-11.38-23-16.56-4-2.55-8-5.06-12.13-7.35s-8.35-4.48-12.67-6.45l-3.26-1.44c-1.08-.46-2.2-.87-3.3-1.32l-1.66-.65c-.56-.21-1.12-.4-1.68-.62-1.13-.39-2.24-.79-3.37-1.16a110.07,110.07,0,0,0-13.86-3.45A94.65,94.65,0,0,0,404,293.39l-3.57.09-1.79,0a8.53,8.53,0,0,0-.89,0l-.89.08c-2.37.23-4.76.34-7.11.76l-3.54.53-3.5.73-1.75.37c-.62.13-1.15.31-1.73.47l-3.45.94a99.3,99.3,0,0,0-13.33,5.17,110,110,0,0,0-12.49,6.9l-3,2c-.5.33-1,.65-1.48,1l-1.44,1-2.88,2.09-2.8,2.2c-1.89,1.44-3.67,3-5.48,4.53s-3.54,3.16-5.31,4.73c-3.44,3.25-6.83,6.55-10.1,10-6.55,6.8-12.8,13.87-18.93,21-12.24,14.33-24,29-36.36,43.15a531,531,0,0,1-38.84,40.69q-10.29,9.58-21.27,18.35c-7.33,5.83-14.84,11.41-22.66,16.58-1.92,1.34-3.91,2.57-5.88,3.83s-3.94,2.53-5.95,3.71-4,2.42-6,3.59l-6.13,3.43c-1,.59-2,1.13-3.09,1.67l-3.09,1.63-3.09,1.62c-1.05.53-2.1,1-3.15,1.54-2.11,1-4.21,2.06-6.33,3.06l-6.4,2.87c-8.58,3.71-17.31,7.19-26.16,10.17-4.4,1.58-8.9,2.9-13.37,4.32-1.11.36-2.23.68-3.36,1l-3.38.94-3.39.93c-1.13.33-2.26.62-3.39.9C40.91,531.29,3.37,535.37-34.12,535.8a1.86,1.86,0,0,0-1.83,1.87,1.85,1.85,0,0,0,1.87,1.84Z"
                    fill="none" />
            </clipPath>
            <linearGradient id="linear-gradient-9" x1="-61.87" y1="424.17" x2="1578.52" y2="424.17"
                xlink:href="#linear-gradient" />
            <clipPath id="clip-path-11">
                <path id="sLCL6"
                    d="M204,538.83a67.76,67.76,0,0,0,11.54-3.09,88.28,88.28,0,0,0,10.77-5,132.44,132.44,0,0,0,19.4-13.3c12.1-9.89,22.94-21.14,33.33-32.68s20.26-23.49,30.09-35.48,19.56-24,29.53-35.85,20.18-23.39,31-34.4c5.41-5.49,11-10.84,16.74-15.93a202.55,202.55,0,0,1,18-14.35,139.44,139.44,0,0,1,19.73-11.71,91.48,91.48,0,0,1,21.58-7.34c.93-.23,1.86-.33,2.82-.49s1.85-.32,2.81-.41c1.89-.16,3.77-.43,5.67-.44l2.85-.08,2.89,0,5.79.09,5.78.09,5.78.29c3.85.22,7.71.32,11.55.71a305.24,305.24,0,0,1,45.69,6.89,278.88,278.88,0,0,1,43.94,14.17c1.8.71,3.55,1.51,5.32,2.29s3.53,1.53,5.29,2.34c3.48,1.65,7,3.24,10.44,5l5.19,2.57,5.16,2.65c3.43,1.77,6.84,3.6,10.26,5.39,6.84,3.64,13.67,7.29,20.57,10.83,1.72.9,3.47,1.75,5.2,2.62s3.47,1.75,5.23,2.56l5.26,2.48c1.76.81,3.55,1.58,5.32,2.37a231.67,231.67,0,0,0,44.23,14.63c1,.21,1.89.46,2.84.62l2.87.53,5.74,1.07c.95.19,1.92.31,2.88.45l2.89.4,5.78.8c3.87.36,7.74.75,11.61,1.08l11.63.58,11.65.12,11.65-.32,1.45,0,1.45-.1,2.92-.19,5.81-.38c1.94-.09,3.86-.31,5.79-.52l5.8-.61a287.51,287.51,0,0,0,45.67-9,389,389,0,0,0,43.84-15.58c14.31-6,28.36-12.48,42.54-18.7s28.46-12.11,43.08-17.13A367.2,367.2,0,0,1,1021.32,337a393.87,393.87,0,0,1,45.85-6.7c3.85-.29,7.7-.65,11.56-.89l11.61-.5c1.93-.11,3.86-.13,5.79-.16l5.8-.1,5.8-.09h5.81l92.9-.12L1578,328l-371.59-.46-92.9-.12h-5.81l-5.81.08-5.8.08c-1.95,0-3.89,0-5.82.15l-11.61.52c-3.87.23-7.74.58-11.6.86a396.51,396.51,0,0,0-46,6.61A368.3,368.3,0,0,0,976.18,348c-14.68,5-29,10.86-43.26,17.07s-28.27,12.66-42.55,18.59a388.15,388.15,0,0,1-43.68,15.4c-29.73,8.38-60.78,11.57-91.62,10.72l-11.55-.62c-3.84-.34-7.68-.73-11.51-1.1l-5.73-.81-2.86-.41c-.95-.13-1.91-.26-2.85-.45l-5.68-1.06-2.84-.54c-.94-.19-1.86-.42-2.81-.62a229.54,229.54,0,0,1-43.76-14.62c-1.76-.79-3.53-1.56-5.28-2.37L655,384.72c-1.75-.82-3.47-1.7-5.19-2.57s-3.46-1.72-5.17-2.61c-6.86-3.55-13.68-7.22-20.51-10.86-3.43-1.82-6.83-3.66-10.28-5.43l-5.16-2.68-5.21-2.6c-3.46-1.77-7-3.37-10.51-5.05-1.76-.81-3.55-1.58-5.32-2.37s-3.54-1.6-5.35-2.31A281.54,281.54,0,0,0,538,333.82a307.4,307.4,0,0,0-46.06-7c-3.87-.41-7.75-.52-11.63-.75l-5.82-.3-5.83-.11-5.82-.1-2.91,0-3,.08c-2,0-3.93.27-5.9.44-1,.09-1.95.28-2.93.42a29,29,0,0,0-2.91.49,94.91,94.91,0,0,0-22.29,7.52,142.34,142.34,0,0,0-20.18,11.88,210,210,0,0,0-18.34,14.5c-5.85,5.14-11.47,10.51-16.94,16.07-10.91,11.07-21.2,22.7-31.23,34.52s-19.82,23.83-29.67,35.78S286.79,471,276.45,482.46s-21.12,22.53-33,32.22a131.19,131.19,0,0,1-18.89,12.89,87.06,87.06,0,0,1-10.3,4.73,64.92,64.92,0,0,1-10.86,2.9h0a1.85,1.85,0,0,0,.62,3.64Z"
                    fill="none" />
            </clipPath>
            <linearGradient id="linear-gradient-10" x1="-32.6" y1="435.73" x2="1539.34" y2="435.73"
                xlink:href="#linear-gradient" />
            <clipPath id="clip-path-12">
                <path id="sLCL5"
                    d="M13.76,504.64a195.67,195.67,0,0,0,51.61-7.89,179.64,179.64,0,0,0,24.47-9.27,205.62,205.62,0,0,0,22.91-12.62c14.76-9.28,28.31-20.28,41.33-31.72s25.54-23.39,38.39-34.91,26-22.65,40.18-32.5a242.69,242.69,0,0,1,44.92-25.06,227,227,0,0,1,49.37-14.39c8.48-1.46,17-2.48,25.6-3.12l6.44-.42,6.45-.23c2.15-.1,4.33-.12,6.46-.14s4.33-.07,6.46,0c8.61,0,17.23.37,25.82,1s17.15,1.59,25.66,2.91a279.38,279.38,0,0,1,50,12.5,302.6,302.6,0,0,1,46.93,21.48c15.06,8.4,29.52,17.84,44,27.27s29.1,18.81,44.55,26.76a215.44,215.44,0,0,0,48.62,18.45,213.2,213.2,0,0,0,51.69,5.57,234,234,0,0,0,51.56-6.61,373.52,373.52,0,0,0,49.44-15.88c16.1-6.3,32-13.34,47.71-20.47s31.46-14.37,47.3-21.27,31.83-13.49,48.05-19.44a541.76,541.76,0,0,1,100-26.77,505.3,505.3,0,0,1,51.48-5.76l3.24-.21,3.23-.15,6.5-.28,6.48-.18,3.24-.08,3.24,0,6.44,0H1163l415.05-.49-415-.46h-19.49l-6.49.05h-3.24l-3.25.07-6.49.17-6.48.28-3.24.14-3.25.2a504.7,504.7,0,0,0-51.59,5.66,544,544,0,0,0-100.25,26.61C943,369.28,926.92,375.82,911,382.71s-31.6,14.08-47.36,21.18S832.1,418,816,424.22a371.65,371.65,0,0,1-49.27,15.69,232,232,0,0,1-51.15,6.44,207.2,207.2,0,0,1-51.18-5.62,215.63,215.63,0,0,1-48.1-18.39c-15.27-8-29.83-17.3-44.3-26.74s-29-19-44.1-27.46a307.34,307.34,0,0,0-47.25-21.75,282.69,282.69,0,0,0-50.42-12.77c-8.58-1.35-17.21-2.33-25.87-3s-17.3-1-26-1.05c-2.17-.05-4.33,0-6.51,0s-4.32,0-6.51.11l-6.5.23-6.51.4c-8.66.62-17.31,1.65-25.88,3.09a230.34,230.34,0,0,0-50.07,14.47,245.67,245.67,0,0,0-45.54,25.3c-14.29,9.92-27.6,21.11-40.52,32.65s-25.47,23.44-38.45,34.8-26.41,22.18-41,31.3a201.86,201.86,0,0,1-22.56,12.31,175.63,175.63,0,0,1-24,9.09A192,192,0,0,1,13.65,501h0a1.86,1.86,0,1,0,.07,3.71Z"
                    fill="none" />
            </clipPath>
            <linearGradient id="linear-gradient-11" x1="-25.66" y1="417.19" x2="1497.57" y2="417.19"
                xlink:href="#linear-gradient" />
            <clipPath id="clip-path-13">
                <path id="sLCL4"
                    d="M-68.16,436.73A156,156,0,0,0-40,432.57a134.2,134.2,0,0,0,26.77-9.81A191.14,191.14,0,0,0,11.3,408.32C19.1,403,26.59,397.23,34,391.47s14.8-11.57,22.37-17.06A267.62,267.62,0,0,1,79.78,359l3-1.74,1.52-.86,1.55-.81c2.07-1.06,4.13-2.15,6.21-3.19l6.35-2.93c1-.51,2.13-.92,3.21-1.36l3.23-1.3c1.09-.43,2.15-.9,3.25-1.3l3.3-1.13,3.3-1.15,1.65-.57,1.68-.48,6.71-1.93c2.25-.62,4.53-1.08,6.8-1.62l3.41-.79,3.44-.61,6.89-1.24,6.94-.87,3.47-.42,3.49-.26,7-.51c.58-.05,1.16-.07,1.75-.08l1.75,0,3.5-.09a127.31,127.31,0,0,1,14,.16l1.73.11c.58,0,1.15.11,1.73.16l3.47.37c2.28.35,4.59.62,6.87,1.08a121.09,121.09,0,0,1,13.53,3.26l3.33,1,3.29,1.14c1.1.37,2.19.79,3.27,1.24s2.18.81,3.25,1.28c4.32,1.76,8.52,3.75,12.67,5.86,16.58,8.56,31.78,19.64,46.35,31.41s28.52,24.39,42.76,36.68,28.79,24.33,44.5,34.85a224.9,224.9,0,0,0,24.45,14.34,162.37,162.37,0,0,0,26.38,10.46,135.22,135.22,0,0,0,42.12,5.67c4.74-.05,9.46-.45,14.17-1l3.52-.49,1.76-.25,1.75-.32,3.5-.62,3.47-.75,1.74-.39,1.72-.44,3.43-.9c2.27-.69,4.57-1.29,6.8-2.09,4.52-1.45,8.91-3.22,13.26-5.07,2.16-1,4.33-1.92,6.44-3s4.22-2.12,6.32-3.22c16.69-9,31.89-20.31,46.24-32.49s28-25.22,41.71-38,27.69-25.41,42.91-36.33a179.49,179.49,0,0,1,23.89-14.63,120.88,120.88,0,0,1,26.17-9.69,109,109,0,0,1,13.77-2.3c1.16-.12,2.32-.17,3.48-.26.58,0,1.16-.1,1.75-.12l1.74,0,1.75,0c.58,0,1.16,0,1.74,0l3.49.12a106.59,106.59,0,0,1,27.43,4.95,158.4,158.4,0,0,1,25.8,10.88c8.31,4.33,16.34,9.17,24.25,14.22,15.82,10.1,31.15,21,47.26,30.76A261.28,261.28,0,0,0,893,404.83a155,155,0,0,0,26.57,9.71,120,120,0,0,0,28,3.9A139.31,139.31,0,0,0,975.72,416a136.67,136.67,0,0,0,27-8.26A233.27,233.27,0,0,0,1028,395.15c16.36-9.31,32.14-19.53,48.75-28.31,2-1.14,4.17-2.16,6.25-3.24l3.13-1.6,3.15-1.49c2.12-1,4.22-2.05,6.36-3l6.42-2.85c1.07-.48,2.16-.91,3.25-1.34l3.26-1.31,3.27-1.31c1.09-.44,2.2-.81,3.31-1.24l6.61-2.38,6.7-2.15a309.7,309.7,0,0,1,55-11.77,455,455,0,0,1,56.2-3.31l112.77-.11,225.54-.21-225.54-.23-112.77-.11a452.71,452.71,0,0,0-56.3,3.19,309.84,309.84,0,0,0-55.15,11.7l-6.73,2.14-6.65,2.37c-1.1.41-2.22.78-3.32,1.21l-3.27,1.31-3.28,1.3c-1.1.44-2.19.86-3.27,1.35l-6.44,2.83c-2.16,1-4.26,2-6.4,3l-3.18,1.52-3.14,1.6c-2.09,1.08-4.22,2.1-6.28,3.24-16.69,8.77-32.49,19-48.83,28.21a231.89,231.89,0,0,1-25.16,12.51,135,135,0,0,1-26.82,8.14,138,138,0,0,1-27.9,2.32,118.87,118.87,0,0,1-27.69-3.91,154.65,154.65,0,0,1-26.3-9.67,261.55,261.55,0,0,1-24.69-13.42c-16-9.76-31.33-20.68-47.17-30.85-7.92-5.08-16-10-24.34-14.35a160.6,160.6,0,0,0-26.06-11.05,108.79,108.79,0,0,0-27.87-5.08l-3.56-.13c-.61,0-1.18,0-1.77,0l-1.78,0-1.77,0c-.62,0-1.19.08-1.78.11-1.18.09-2.37.15-3.55.26a110.6,110.6,0,0,0-14,2.31,122.74,122.74,0,0,0-26.58,9.79A180.16,180.16,0,0,0,664.48,356c-15.38,11-29.38,23.64-43.18,36.39s-27.39,25.76-41.72,37.85-29.43,23.32-45.91,32.14c-2.08,1.08-4.13,2.18-6.25,3.17s-4.22,2-6.36,2.93c-4.29,1.81-8.65,3.55-13.06,4.94-2.2.77-4.46,1.37-6.69,2l-3.38.87-1.7.44-1.7.37-3.42.74-3.44.62-1.71.31-1.73.24-3.47.47c-4.63.5-9.27.9-13.93.94a133.62,133.62,0,0,1-41.35-5.66,160.53,160.53,0,0,1-26-10.35,223.36,223.36,0,0,1-24.1-14.22c-15.53-10.44-30-22.46-44.16-34.74s-28.14-24.92-42.75-36.83-29.94-23.09-46.78-31.83c-4.22-2.15-8.51-4.19-12.89-6-1.09-.47-2.22-.87-3.32-1.31s-2.2-.86-3.33-1.23l-3.37-1.18-3.4-1.06a126.42,126.42,0,0,0-13.85-3.36c-2.33-.49-4.69-.76-7-1.12l-3.55-.38c-.62-.06-1.18-.14-1.77-.18l-1.78-.12a129.72,129.72,0,0,0-14.22-.18l-3.55.08-1.77,0a12.89,12.89,0,0,0-1.77.08l-7.08.5-3.54.25L152,332l-7.05.86c-2.34.38-4.67.81-7,1.23l-3.5.62-3.46.8c-2.31.54-4.63,1-6.93,1.62l-6.83,2-1.71.49-1.68.57-3.37,1.16-3.36,1.16c-1.12.39-2.21.87-3.31,1.3l-3.3,1.32c-1.1.45-2.21.87-3.27,1.38l-6.47,3c-2.12,1.06-4.22,2.16-6.33,3.24l-1.58.81-1.54.88-3.09,1.76a272.93,272.93,0,0,0-23.73,15.5C46.81,377.2,39.4,383,32,388.76S17.08,400.18,9.37,405.45a188.16,188.16,0,0,1-24.06,14.12,130.75,130.75,0,0,1-26.09,9.5,152,152,0,0,1-27.5,4h0a1.87,1.87,0,0,0-1.55,1,1.83,1.83,0,0,0,.11,1.85,1.87,1.87,0,0,0,1.66.84Z"
                    fill="none" />
            </clipPath>
            <linearGradient id="linear-gradient-12" x1="-80.12" y1="404.42" x2="1514.68" y2="404.42"
                xlink:href="#linear-gradient" />
            <clipPath id="clip-path-14">
                <path id="sLCL3"
                    d="M50,570.53a226.85,226.85,0,0,0,51.54-7.77A232.88,232.88,0,0,0,150,543.44a297.7,297.7,0,0,0,43.5-28.59,448.13,448.13,0,0,0,38.83-34.57c12.31-12.18,24.1-24.86,35.77-37.6s23.23-25.56,35.45-37.7c6.1-6.07,12.42-11.91,19.05-17.31a115.64,115.64,0,0,1,21.29-14.11,68.18,68.18,0,0,1,11.8-4.59,50.24,50.24,0,0,1,12.43-1.86h1.57c.53,0,1.07,0,1.6.05l3.2.14c2.14.05,4.26.33,6.39.51a117.38,117.38,0,0,1,12.64,2,114.41,114.41,0,0,1,24.24,8.12,167.28,167.28,0,0,1,22.36,12.63c7.19,4.71,14.18,9.78,21.38,14.61,3.59,2.43,7.28,4.75,11,7a125.34,125.34,0,0,0,11.64,6,81.72,81.72,0,0,0,25.34,6.75,88.87,88.87,0,0,0,26.14-1.41,108.12,108.12,0,0,0,24.73-8.37,173.81,173.81,0,0,0,22.59-13c14.42-9.68,27.74-20.78,41.28-31.46,6.8-5.35,13.6-10.62,20.64-15.57a204.35,204.35,0,0,1,21.86-13.6,124.09,124.09,0,0,1,23.73-9.8,94.94,94.94,0,0,1,25.29-3.8,92.85,92.85,0,0,1,25.34,3.29,164.18,164.18,0,0,1,24.23,8.69c7.9,3.43,15.65,7.22,23.4,11s15.52,7.62,23.4,11.21,15.86,7,24,9.92a242.13,242.13,0,0,0,24.84,7.62c2.11.52,4.21,1.05,6.33,1.46l3.19.67c1.06.23,2.12.45,3.19.62l6.4,1.1,6.45.86a229.83,229.83,0,0,0,26,1.58c1.08,0,2.18-.06,3.26-.07s2.18-.05,3.26-.13l3.25-.28c1.08-.09,2.17-.17,3.24-.33,4.33-.51,8.59-1.2,12.85-2,8.51-1.64,16.92-3.71,25.25-6,16.69-4.64,33.08-10.09,49.45-15.64s32.66-11.25,49.09-16.58c8.21-2.67,16.45-5.24,24.72-7.6s16.67-4.54,25.11-6.31a153.37,153.37,0,0,1,25.56-3.46l3.22-.11h22.7l414.58-.48-414.61-.47h-22.7l-3.25.09a158.54,158.54,0,0,0-25.74,3.43c-8.47,1.74-16.85,3.92-25.18,6.27s-16.57,4.91-24.8,7.57c-16.45,5.29-32.76,11-49.14,16.47s-32.76,10.91-49.41,15.5c-8.31,2.31-16.68,4.33-25.15,6-4.23.8-8.48,1.47-12.75,2-1.06.16-2.14.22-3.2.32l-3.21.26c-1.07.08-2.14.08-3.21.12s-2.15.09-3.21.07a228.68,228.68,0,0,1-25.76-1.62l-6.4-.88-6.36-1.1c-1.06-.17-2.11-.39-3.16-.62l-3.16-.67c-2.11-.42-4.2-.95-6.28-1.47a238.94,238.94,0,0,1-24.66-7.62c-8.09-3-16-6.33-23.86-9.93s-15.57-7.42-23.32-11.24S774,341.66,766,338.17a165.81,165.81,0,0,0-24.48-8.83,94.85,94.85,0,0,0-25.86-3.42,97.24,97.24,0,0,0-25.82,3.83,125.47,125.47,0,0,0-24.11,9.85,207.84,207.84,0,0,0-22.13,13.7c-7.1,4.95-14,10.26-20.76,15.6-13.6,10.69-26.9,21.71-41.2,31.27a173.44,173.44,0,0,1-22.32,12.77,105.54,105.54,0,0,1-24.21,8.14,86.4,86.4,0,0,1-25.42,1.32,79.48,79.48,0,0,1-24.52-6.6,123.58,123.58,0,0,1-11.37-5.9q-5.52-3.28-10.87-6.9c-7.14-4.8-14.12-9.89-21.37-14.68a170.21,170.21,0,0,0-22.69-12.87,117.21,117.21,0,0,0-24.78-8.36A122.7,122.7,0,0,0,381.14,365c-2.17-.19-4.32-.47-6.52-.53l-3.27-.15c-.55,0-1.09-.06-1.64-.06H368a53.46,53.46,0,0,0-13.13,1.9,73.41,73.41,0,0,0-12.33,4.76,121.18,121.18,0,0,0-21.86,14.41,250.14,250.14,0,0,0-19.31,17.48c-12.32,12.2-23.93,25-35.64,37.7S242.29,465.87,230,478a446.33,446.33,0,0,1-38.62,34.23,293.7,293.7,0,0,1-43.06,28.19,228.71,228.71,0,0,1-47.71,18.92,222.64,222.64,0,0,1-50.74,7.54h0a1.85,1.85,0,0,0-1.78,1.92A1.87,1.87,0,0,0,50,570.54Z"
                    fill="none" />
            </clipPath>
            <linearGradient id="linear-gradient-13" x1="-16.49" y1="447.89" x2="1493.41" y2="447.89"
                xlink:href="#linear-gradient" />
            <clipPath id="clip-path-15">
                <path id="sLCL2"
                    d="M62.23,425.35a215.07,215.07,0,0,0,49.16-10.27c4-1.3,7.92-2.74,11.84-4.22s7.78-3.09,11.61-4.78c7.68-3.34,15.2-7,22.6-10.86,14.84-7.74,29.11-16.36,43.23-25.19s28.07-17.89,42.28-26.45,28.74-16.64,44-23a169.47,169.47,0,0,1,23.4-7.91c4-1,8-1.86,12.08-2.47a109.62,109.62,0,0,1,12.25-1.28l1.53-.08,1.54,0c1,0,2.05-.07,3.09-.05l6.22.09,6.22.08,6.18.27,6.18.27,6.18.45,6.18.47,6.18.62c2.07.24,4.13.4,6.18.68l6.18.84c4.12.5,8.19,1.28,12.29,1.93,2,.32,4.07.75,6.1,1.15l6.1,1.21,6.05,1.39c2,.45,4,.91,6,1.45l6,1.57c2,.53,4,1.14,6,1.71,4,1.11,7.91,2.44,11.86,3.71,7.85,2.66,15.64,5.51,23.31,8.65s15.26,6.52,22.78,10,15,7.17,22.5,10.77,15.06,7.16,22.82,10.31q5.79,2.37,11.8,4.33c2,.61,4,1.18,6.05,1.77l3.09.71c1,.22,2,.52,3.09.67l3.09.53c.52.09,1,.19,1.56.25l1.58.17,3.15.33c1.05.1,2.11.1,3.16.15h1.65c.54,0,1.06.05,1.59,0l3.16-.11c2.11,0,4.2-.3,6.31-.5.52-.06,1.05-.11,1.57-.18l1.56-.27,3.09-.55c1-.18,2-.49,3.09-.73l1.54-.38c.51-.13,1-.25,1.53-.42l3-1c.5-.16,1-.31,1.5-.49l1.47-.62,3-1.17,2.86-1.34A112.31,112.31,0,0,0,643,354c6.57-5.14,12.78-10.8,19-16.21a195.2,195.2,0,0,1,19.52-15.3,93.61,93.61,0,0,1,22-11,86.3,86.3,0,0,1,24.21-4.21,134.25,134.25,0,0,1,24.69,1.54,146.46,146.46,0,0,1,24,5.86,173.55,173.55,0,0,1,22.87,9.6c14.83,7.42,28.8,16.46,42.85,25.37,7,4.46,14.1,8.87,21.38,12.95a186.48,186.48,0,0,0,22.54,10.92,120.09,120.09,0,0,0,24.11,6.89,109.93,109.93,0,0,0,25,1.31c16.68-1,33.07-4.88,49.05-9.51s31.75-10,47.64-14.94c7.94-2.47,15.91-4.85,23.91-7.07s16.07-4.33,24.15-6.18a541.1,541.1,0,0,1,98.68-13.73c16.61-.84,33.24-.75,49.88-.74h49.92l99.84,0,199.64.06-199.64-.52-99.83-.26-49.92-.13c-16.63,0-33.29-.18-49.92.62a542.85,542.85,0,0,0-98.86,13.52c-8.12,1.86-16.18,4-24.21,6.18s-16,4.6-24,7C1015.74,361,1000,366.31,984,371s-32.21,8.39-48.76,9.35A108.52,108.52,0,0,1,910.56,379a118.37,118.37,0,0,1-23.77-6.85c-15.39-6.15-29.59-14.91-43.6-23.83s-28-18.08-43-25.57a174.36,174.36,0,0,0-23.11-9.78,148.9,148.9,0,0,0-24.36-6,136.39,136.39,0,0,0-25-1.62,88.2,88.2,0,0,0-24.8,4.26,95.51,95.51,0,0,0-22.54,11.17,196,196,0,0,0-19.78,15.42c-6.32,5.43-12.47,11-19,16.13a107.42,107.42,0,0,1-20.76,13.31l-2.79,1.3L615.24,368l-1.43.57c-.48.18-1,.32-1.46.48l-2.93.93a12.79,12.79,0,0,1-1.47.4l-1.49.38c-1,.22-2,.52-3,.69l-3,.53-1.51.26c-.51.07-1,.11-1.53.17-2,.19-4.07.47-6.13.47l-3.09.11c-.51,0-1,0-1.53,0l-1.54-.06c-1-.05-2-.05-3.09-.14l-3-.33-1.53-.17c-.51-.06-1-.16-1.52-.25l-3-.52c-1-.15-2-.44-3-.66l-3-.7c-2-.59-4-1.11-5.92-1.75q-5.88-1.92-11.62-4.27c-7.66-3.13-15.17-6.69-22.65-10.3s-15-7.3-22.5-10.84-15.16-6.94-22.87-10.13-15.55-6.07-23.48-8.77c-4-1.27-7.93-2.62-12-3.74-2-.58-4-1.2-6-1.74L433.82,317c-2-.55-4.05-1-6.09-1.49l-6.1-1.41-6.15-1.24c-2-.4-4.08-.85-6.18-1.17-4.12-.67-8.22-1.46-12.36-2l-6.18-.85c-2.06-.29-4.15-.46-6.22-.7l-6.23-.66-6.24-.49-6.25-.47-6.25-.29-6.26-.28-6.25-.1-6.27-.1c-1,0-2.1,0-3.15,0h-1.58l-1.58.08a115.19,115.19,0,0,0-12.56,1.29c-4.17.62-8.28,1.5-12.36,2.51a172.19,172.19,0,0,0-23.85,8c-15.51,6.41-30.15,14.55-44.47,23.1s-28.28,17.6-42.4,26.37-28.35,17.31-43.06,25c-7.34,3.83-14.83,7.42-22.4,10.7-3.79,1.65-7.63,3.19-11.48,4.69s-7.75,2.86-11.69,4.13a212.27,212.27,0,0,1-48.29,10h0a1.86,1.86,0,0,0,.31,3.68Z"
                    fill="none" />
            </clipPath>
            <linearGradient id="linear-gradient-14" x1="-11.91" y1="369.17" x2="1562.81" y2="369.17"
                xlink:href="#linear-gradient" />
            <clipPath id="clip-path-16">
                <path id="sLCL1"
                    d="M-127.16,396.8a513.41,513.41,0,0,0,55.27-3.95c18.33-2.29,36.53-5.56,54.56-9.54C18.76,375.39,53.94,364.07,89,352.88c8.78-2.76,17.55-5.56,26.37-8.15s17.65-5.12,26.58-7.27,17.88-4.06,26.92-5.44a180.59,180.59,0,0,1,27.29-2h3.42l3.42.17,6.86.35c2.28.17,4.56.42,6.84.62l3.4.35c1.14.12,2.27.3,3.4.45l6.8.92,6.76,1.23c1.12.22,2.25.37,3.37.62l3.34.75,3.35.75c.56.13,1.12.24,1.67.39l1.66.44a230.47,230.47,0,0,1,51,20.06c8.09,4.32,16,9,23.82,13.79s15.57,9.8,23.49,14.6A273.21,273.21,0,0,0,373,398.88a132.15,132.15,0,0,0,26.17,9.45,111.3,111.3,0,0,0,27.69,3.05l7-.22c2.32-.18,4.63-.41,6.94-.62l1.74-.16,1.72-.26,3.45-.53c1.14-.2,2.3-.34,3.43-.57l3.41-.74a135.41,135.41,0,0,0,26.4-8.77,192.28,192.28,0,0,0,24.37-13.31c15.62-9.92,30.25-21.13,45.7-31.05,3.85-2.51,7.78-4.88,11.75-7.2l6-3.39,6.09-3.18a211.08,211.08,0,0,1,25.28-10.73l6.54-2.1,1.63-.53,1.66-.43,3.32-.89,3.31-.89.84-.23.83-.18,1.68-.36,6.72-1.45c2.25-.41,4.52-.76,6.8-1.14l3.39-.56c1.14-.16,2.28-.27,3.42-.42l6.79-.79c2.29-.23,4.58-.33,6.86-.5l3.43-.25,1.72-.11,1.72,0,6.88-.15c1.14,0,2.29-.07,3.44-.08l3.43.06c2.3.05,4.6,0,6.89.14a261.64,261.64,0,0,1,27.39,2.47,246.81,246.81,0,0,1,53.08,14.17C779,343,795.61,351,812.66,358c8.52,3.52,17.17,6.8,26,9.49a205.71,205.71,0,0,0,27,6.38,217.05,217.05,0,0,0,55.25,1.91,185.39,185.39,0,0,0,27.3-4.66A268.41,268.41,0,0,0,974.61,363c8.65-3.12,17.25-6.47,25.9-9.63s17.33-6.09,26.16-8.57,17.82-4.54,26.87-6.15l3.39-.58c1.13-.2,2.27-.39,3.41-.54l6.79-1,6.85-.8c2.28-.27,4.58-.43,6.86-.65,18.33-1.69,36.75-1.32,55.17-1.42q55.24-.13,110.5-.54l110.48-.93q110.52-1.08,221-2.62-110.49,1.31-221,2.16l-110.48.7q-55.26.27-110.49.31c-18.4.06-36.87-.35-55.26,1.31-2.29.21-4.59.36-6.88.61l-6.87.79-6.85,1c-1.15.14-2.28.34-3.42.53l-3.41.58a276.24,276.24,0,0,0-27,6.12c-8.88,2.48-17.65,5.39-26.31,8.53s-17.28,6.49-25.93,9.58a271.25,271.25,0,0,1-26.33,8.09,183.05,183.05,0,0,1-27.12,4.57,215.38,215.38,0,0,1-54.86-2A206.08,206.08,0,0,1,839.08,366c-8.77-2.71-17.37-6-25.85-9.5-17-7.06-33.55-15.14-50.81-21.74A251.53,251.53,0,0,0,709,320.4a263.06,263.06,0,0,0-27.6-2.55c-2.3-.1-4.61-.1-6.92-.16l-3.47-.06c-1.15,0-2.31,0-3.46.06l-6.93.15-1.73,0-1.73.11-3.46.23c-2.3.16-4.61.27-6.91.49l-6.9.79c-1.15.14-2.29.25-3.44.41l-3.42.56c-2.29.38-4.58.73-6.85,1.13l-6.8,1.46-1.69.36-.86.18-.83.22-3.36.89-3.35.9-1.68.44-1.65.53-6.62,2.1a213.53,213.53,0,0,0-25.53,10.82l-6.18,3.19-6,3.41c-4,2.33-7.94,4.72-11.81,7.23-15.58,9.94-30.25,21.14-45.74,30.95a191.57,191.57,0,0,1-24.11,13.09,131.6,131.6,0,0,1-26,8.55l-3.33.72c-1.12.23-2.26.37-3.38.55l-3.39.52-1.68.26-1.71.15c-2.27.19-4.54.42-6.8.61l-6.84.2a108.59,108.59,0,0,1-27.06-3,128.61,128.61,0,0,1-25.67-9.34,267.72,267.72,0,0,1-24-13.33c-7.83-4.79-15.57-9.78-23.41-14.64s-15.79-9.58-23.95-13.94a233.18,233.18,0,0,0-51.56-20.39l-1.67-.46-1.7-.39-3.38-.77-3.4-.76c-1.12-.28-2.27-.44-3.41-.67L230.76,330l-6.88-1c-1.15-.16-2.29-.34-3.44-.46l-3.47-.33c-2.3-.22-4.61-.46-6.91-.62l-6.94-.37-3.46-.18h-3.5a182.92,182.92,0,0,0-27.75,2c-9.16,1.38-18.23,3.26-27.19,5.43s-17.88,4.67-26.73,7.26-17.64,5.36-26.43,8.11C52.94,361,17.87,372.22-18,380c-17.92,4-36,7.14-54.25,9.38a509,509,0,0,1-54.9,3.81,1.87,1.87,0,0,0-1.83,1.88,1.84,1.84,0,0,0,1.88,1.83Z"
                    fill="none" />
            </clipPath>
            <linearGradient id="linear-gradient-15" x1="-22.86" y1="364.06" x2="1442.16" y2="364.06"
                xlink:href="#linear-gradient" />
        </defs>
        <g id="sentify">
            <g clip-path="url(#clip-path)">
                <rect width="1440" height="586.99" fill="none" />
                <g id="gSL">
                    <g id="gSO">
                        <polyline id="sO15"
                            points="-55.18 265.73 173.39 345.12 307.03 338.4 449.36 297.11 561.85 323.54 635.07 348.56 734.77 317.73 787.81 301.35 893.86 318.8 1044.57 327.04 1516.41 326.48"
                            fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="20" fill-rule="evenodd" />
                        <polyline id="sO14"
                            points="-11.63 33.44 136.16 73.28 261.55 192.01 378.11 320.95 457.62 322.73 539.53 256.15 632.93 205.6 698.96 211.56 781.38 262.75 894.96 324.67 1001.01 328.99 1523.67 328.99"
                            fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="20" fill-rule="evenodd" />
                        <polyline id="sO13"
                            points="-53.63 339.29 93.17 319.56 277 237.75 387.67 215.23 509.67 256.65 629.8 315.63 792.18 333.69 1522.25 328.9"
                            fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="20" fill-rule="evenodd" />
                        <polyline id="sO12"
                            points="-55.11 100.39 60.25 142.57 181.75 250.67 264.05 319.74 325.14 332.94 403.81 313.57 499.09 236.19 574.82 210.81 669.11 223.73 811.07 283.83 949.4 326.49 1099.35 329.15 1523.73 329.59"
                            fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="20" fill-rule="evenodd" />
                        <polyline id="sO11"
                            points="42.83 72.19 140.02 103.81 243.99 223.25 339.14 323.42 385.6 323.42 418.03 304.7 450.34 246.9 501.62 167.43 541.42 156.59 577.36 170.24 628.12 233.51 690.83 315.24 733.67 329.72 805.33 307.79 858.08 268.92 924.3 237.12 982.05 242.98 1037.11 277.45 1124.68 318.62 1237.25 330.28 1516.32 330.28"
                            fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="20" fill-rule="evenodd" />
                        <polyline id="sO10"
                            points="-9.68 188.03 113.8 194.76 295.82 327.59 357.95 316.08 501.79 154.35 583.53 133.95 666.06 173.97 823.87 298.37 932.6 331.43 1539.65 331.43"
                            fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="20" fill-rule="evenodd" />
                        <polyline id="sO9"
                            points="-15.63 195.11 81.13 217.43 237 332.8 322.93 355.07 410.53 333.38 512.65 268.78 607.67 244.7 754.01 275.09 902 322.87 995.6 326.13 1526.63 328.43"
                            fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="20" fill-rule="evenodd" />
                        <polyline id="sO8"
                            points="98.93 371.05 298.72 302.12 468 336.58 551.61 346.43 703.82 313.84 805.97 346.85 863.65 346.85 979.75 318.08 1085.47 327.76 1531 326.83"
                            fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="20" fill-rule="evenodd" />
                        <polyline id="sO7"
                            points="-57.4 544.26 136.67 500.89 273.87 392.11 363.58 304.99 458.03 309.7 536.85 373.64 686.97 474.58 810.22 470.1 925.88 367.43 985.66 332.25 1578.34 326.88"
                            fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="20" fill-rule="evenodd" />
                        <polyline id="sO6"
                            points="-31.83 546.27 202.01 537.3 276.45 482.46 408.48 342.44 474.44 325.73 582.28 348.24 709.24 404.19 816.11 405.83 946.63 360.93 1078.65 328.24 1539.23 325.73"
                            fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="20" fill-rule="evenodd" />
                        <polyline id="sO5"
                            points="-22.5 504.65 78.32 488.52 246.26 363.17 352.33 330.32 456.81 341.8 598.11 412.1 691.34 445.28 792.64 432.59 938.23 372.9 1099.13 331.92 1497.48 330.32"
                            fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="20" fill-rule="evenodd" />
                        <polyline id="sO4"
                            points="-75.49 436.25 -8.39 420.3 90.73 349.48 173.2 330.66 234.64 343.33 407.54 468.15 452.87 479.97 501.31 475.41 557.48 447.45 679.41 346.23 729.24 329.11 778.47 336.38 899.54 406.21 951.26 418.45 1002.29 406.66 1070.92 368.82 1150.7 338.03 1214.44 329.11 1514.68 329.11"
                            fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="20" fill-rule="evenodd" />
                        <polyline id="sO3"
                            points="-16.5 569.01 69.56 569.01 169.09 532.2 342.58 370.94 407.75 370.94 509.47 424.87 555.77 414.54 695.43 328.32 754.52 328.32 850.3 375.03 915.72 385.85 1048.82 347.99 1127.29 328.32 1493.33 326.78"
                            fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="20" fill-rule="evenodd" />
                        <polyline id="sO2"
                            points="-9.88 431.07 91.12 420.77 172.34 387.07 317.44 307.98 378.31 307.54 496.08 339.28 572.41 373.9 609.42 369.99 702.92 309.56 766.38 307.54 910.25 380.44 954.36 379.44 1079.83 342.9 1154.95 330.94 1562.6 326.67"
                            fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="20" fill-rule="evenodd" />
                        <polyline id="sO1"
                            points="-17.33 383.31 163.52 331.19 197.09 328.09 243.91 333.68 296.48 353.22 341.28 379.26 378.78 400.18 409.59 409.33 440.65 409.33 479.19 398.98 508.18 382.53 536.36 363.43 571.8 341.57 606.61 327.18 642.87 319.91 669.37 318.8 702.12 320.08 728.62 325.04 753.07 332.22 786.76 345.82 818.91 359.93 839.68 366.85 868.41 373.69 898.16 375.83 921.08 374.97 946.98 370.78 975.63 361.89 1014.18 347.87 1040.35 340.69 1068.31 335.81 1083.93 334.16 1100.33 333.4 1127.84 333.09 1442.04 331.27"
                            fill="none" stroke="#fff" stroke-miterlimit="10" stroke-width="20" fill-rule="evenodd" />
                    </g>
                    <g id="gSCL15">
                        <g clip-path="url(#clip-path-2)">
                            <polyline id="sL15"
                                points="-55.18 265.73 173.39 345.12 307.03 338.4 449.36 297.11 561.85 323.54 635.07 348.56 734.77 317.73 787.81 301.35 893.86 318.8 1044.57 327.04 1516.41 326.48"
                                fill="none" stroke-miterlimit="10" stroke-width="41" fill-rule="evenodd"
                                stroke="url(#linear-gradient)" />
                        </g>
                    </g>
                    <g id="gSCL14">
                        <g clip-path="url(#clip-path-3)">
                            <polyline id="sL14"
                                points="-11.63 33.44 136.16 73.28 261.55 192.01 378.11 320.95 457.62 322.73 539.53 256.15 632.93 205.6 698.96 211.56 781.38 262.75 894.96 324.67 1001.01 328.99 1523.67 328.99"
                                fill="none" stroke-miterlimit="10" stroke-width="41" fill-rule="evenodd"
                                stroke="url(#linear-gradient-2)" />
                        </g>
                    </g>
                    <g id="gSCL13">
                        <g clip-path="url(#clip-path-4)">
                            <polyline id="sL13"
                                points="-53.63 339.29 93.17 319.56 277 237.75 387.67 215.23 509.67 256.65 629.8 315.63 792.18 333.69 1522.25 328.9"
                                fill="none" stroke-miterlimit="10" stroke-width="41" fill-rule="evenodd"
                                stroke="url(#linear-gradient-3)" />
                        </g>
                    </g>
                    <g id="gSCL12">
                        <g clip-path="url(#clip-path-5)">
                            <polyline id="sL12"
                                points="-55.11 100.39 60.25 142.57 181.75 250.67 264.05 319.74 325.14 332.94 403.81 313.57 499.09 236.19 574.82 210.81 669.11 223.73 811.07 283.83 949.4 326.49 1099.35 329.15 1523.73 329.59"
                                fill="none" stroke-miterlimit="10" stroke-width="41" fill-rule="evenodd"
                                stroke="url(#linear-gradient-4)" />
                        </g>
                    </g>
                    <g id="gSCL11">
                        <g clip-path="url(#clip-path-6)">
                            <polyline id="sL11"
                                points="42.83 72.19 140.02 103.81 243.99 223.25 339.14 323.42 385.6 323.42 418.03 304.7 450.34 246.9 501.62 167.43 541.42 156.59 577.36 170.24 628.12 233.51 690.83 315.24 733.67 329.72 805.33 307.79 858.08 268.92 924.3 237.12 982.05 242.98 1037.11 277.45 1124.68 318.62 1237.25 330.28 1516.32 330.28"
                                fill="none" stroke-miterlimit="10" stroke-width="41" fill-rule="evenodd"
                                stroke="url(#linear-gradient-5)" />
                        </g>
                    </g>
                    <g id="gSCL10">
                        <g clip-path="url(#clip-path-7)">
                            <polyline id="sL10"
                                points="-9.68 188.03 113.8 194.76 295.82 327.59 357.95 316.08 501.79 154.35 583.53 133.95 666.06 173.97 823.87 298.37 932.6 331.43 1539.65 331.43"
                                fill="none" stroke-miterlimit="10" stroke-width="41" fill-rule="evenodd"
                                stroke="url(#linear-gradient-6)" />
                        </g>
                    </g>
                    <g id="gSCL9">
                        <g clip-path="url(#clip-path-8)">
                            <polyline id="sL9"
                                points="-15.63 195.11 81.13 217.43 237 332.8 322.93 355.07 410.53 333.38 512.65 268.78 607.67 244.7 754.01 275.09 902 322.87 995.6 326.13 1526.63 328.43"
                                fill="none" stroke-miterlimit="10" stroke-width="41" fill-rule="evenodd"
                                stroke="url(#linear-gradient-7)" />
                        </g>
                    </g>
                    <g id="gSCL8">
                        <g clip-path="url(#clip-path-9)">
                            <polyline id="sL8"
                                points="98.93 371.05 298.72 302.12 468 336.58 551.61 346.43 703.82 313.84 805.97 346.85 863.65 346.85 979.75 318.08 1085.47 327.76 1531 326.83"
                                fill="none" stroke-miterlimit="10" stroke-width="41" fill-rule="evenodd"
                                stroke="url(#linear-gradient-8)" />
                        </g>
                    </g>
                    <g id="gSCL7">
                        <g clip-path="url(#clip-path-10)">
                            <polyline id="sL7"
                                points="-57.4 544.26 136.67 500.89 273.87 392.11 363.58 304.99 458.03 309.7 536.85 373.64 686.97 474.58 810.22 470.1 925.88 367.43 985.66 332.25 1578.34 326.88"
                                fill="none" stroke-miterlimit="10" stroke-width="41" fill-rule="evenodd"
                                stroke="url(#linear-gradient-9)" />
                        </g>
                    </g>
                    <g id="gSCL6">
                        <g clip-path="url(#clip-path-11)">
                            <polyline id="sL6"
                                points="-31.83 546.27 202.01 537.3 276.45 482.46 408.48 342.44 474.44 325.73 582.28 348.24 709.24 404.19 816.11 405.83 946.63 360.93 1078.65 328.24 1539.23 325.73"
                                fill="none" stroke-miterlimit="10" stroke-width="40" fill-rule="evenodd"
                                stroke="url(#linear-gradient-10)" />
                        </g>
                    </g>
                    <g id="gSCL5">
                        <g clip-path="url(#clip-path-12)">
                            <polyline id="sL5"
                                points="-22.5 504.65 78.32 488.52 246.26 363.17 352.33 330.32 456.81 341.8 598.11 412.1 691.34 445.28 792.64 432.59 938.23 372.9 1099.13 331.92 1497.48 330.32"
                                fill="none" stroke-miterlimit="10" stroke-width="40" fill-rule="evenodd"
                                stroke="url(#linear-gradient-11)" />
                        </g>
                    </g>
                    <g id="gSCL4">
                        <g clip-path="url(#clip-path-13)">
                            <polyline id="sL4"
                                points="-75.49 436.25 -8.39 420.3 90.73 349.48 173.2 330.66 234.64 343.33 407.54 468.15 452.87 479.97 501.31 475.41 557.48 447.45 679.41 346.23 729.24 329.11 778.47 336.38 899.54 406.21 951.26 418.45 1002.29 406.66 1070.92 368.82 1150.7 338.03 1214.44 329.11 1514.68 329.11"
                                fill="none" stroke-miterlimit="10" stroke-width="40" fill-rule="evenodd"
                                stroke="url(#linear-gradient-12)" />
                        </g>
                    </g>
                    <g id="gSCL3">
                        <g clip-path="url(#clip-path-14)">
                            <polyline id="sL3"
                                points="-16.5 569.01 69.56 569.01 169.09 532.2 342.58 370.94 407.75 370.94 509.47 424.87 555.77 414.54 695.43 328.32 754.52 328.32 850.3 375.03 915.72 385.85 1048.82 347.99 1127.29 328.32 1493.33 326.78"
                                fill="none" stroke-miterlimit="10" stroke-width="40" fill-rule="evenodd"
                                stroke="url(#linear-gradient-13)" />
                        </g>
                    </g>
                    <g id="gSCL2">
                        <g clip-path="url(#clip-path-15)">
                            <polyline id="sL2"
                                points="-9.88 431.07 91.12 420.77 172.34 387.07 317.44 307.98 378.31 307.54 496.08 339.28 572.41 373.9 609.42 369.99 702.92 309.56 766.38 307.54 910.25 380.44 954.36 379.44 1079.83 342.9 1154.95 330.94 1562.6 326.67"
                                fill="none" stroke-miterlimit="10" stroke-width="40" fill-rule="evenodd"
                                stroke="url(#linear-gradient-14)" />
                        </g>
                    </g>
                    <g id="gSCL1">
                        <g clip-path="url(#clip-path-16)">
                            <polyline id="sL1"
                                points="-17.33 383.31 163.52 331.19 197.09 328.09 243.91 333.68 296.48 353.22 341.28 379.26 378.78 400.18 409.59 409.33 440.65 409.33 479.19 398.98 508.18 382.53 536.36 363.43 571.8 341.57 606.61 327.18 642.87 319.91 669.37 318.8 702.12 320.08 728.62 325.04 753.07 332.22 786.76 345.82 818.91 359.93 839.68 366.85 868.41 373.69 898.16 375.83 921.08 374.97 946.98 370.78 975.63 361.89 1014.18 347.87 1040.35 340.69 1068.31 335.81 1083.93 334.16 1100.33 333.4 1127.84 333.09 1442.04 331.27"
                                fill="none" stroke-miterlimit="10" stroke-width="40" fill-rule="evenodd"
                                stroke="url(#linear-gradient-15)" />
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </svg>
</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script>

        gsap.set('#gSO > *', { opacity: 0 })
        gsap.set('.main_animation_container svg', { opacity: 1 })

        const SDO = [1520, 1653, 1638, 1744, 1609, 1678, 1816, 1461, 1620, 1726, 1779, 1708, 1619, 1713, 1607]
        const hero = gsap.timeline({ paused: true, defaults: { ease: 'none' } })

        const sequenceArr = []
        while (sequenceArr.length < 15) {
            const rand = Math.floor(Math.random() * 15) + 1;
            if (sequenceArr.indexOf(rand) === -1) sequenceArr.push(rand);
        }

        let sum = 0
        const timesArr = [7]
        while (sum <= 10) {
            const rand = Math.floor(Math.random() * 3) + 1;
            timesArr.push(rand)
            sum = sum + rand
        }
        console.log(timesArr)

        for (let i = 0; i < timesArr.length; i++) {
            const tl = gsap.timeline({ paused: true })
            for (let j = 0; j < timesArr[i]; j++) {
                if (sequenceArr[0]) {
                    const num = sequenceArr.shift()
                    tl.fromTo(`#sL${num}, #sO${num}`, { strokeDashoffset: SDO[num - 1] }, {
                        strokeDashoffset: 0,
                        ease: 'none'
                    }, '<')
                }
            }
            hero.add(gsap.to(tl, { progress: 1, duration: 1.5, ease: 'none' }), '>')
        }

        for (let i = 1; i < 16; i++) {
            gsap.set(`#sL${i}, #sO${i}`, { strokeDasharray: SDO[i - 1] })
        }

        window.addEventListener('load', (event) => {
            hero.play()
        });



        document.querySelectorAll('#gSO > *').forEach(el => {
            el.addEventListener('mouseenter', (e) => {
                if (e.target.id.startsWith('sO')) {
                    const id = e.target.id.replace(/\D/g, '')
                    gsap.set(`#sO${id}`, { pointerEvents: 'none' })

                    gsap.timeline()
                        .to(`#sL${id}, #sO${id}`, { opacity: 0 })
                        .fromTo(`#sL${id}`,
                            { strokeDashoffset: SDO[id - 1] },
                            { strokeDashoffset: 0, duration: 1.4, ease: 'none', opacity: 1 }, '>')
                        .from(`#sO${id}`, { strokeDashoffset: SDO[id - 1], duration: 1.4, ease: 'none' }, '<')
                        .set(`#sO${id}`, { pointerEvents: 'all' }, '<+.7')
                }
            })
        })

    </script>