
{{ $bURL := .Site.BaseURL }}

{{ partial "header.html" . }}
<img src='{{ $bURL }}img/partners/{{ .Params.graphicImage1 }}.png' class="mobile-graphic">
<section class="container my-5">
  <div class="row">
    <div class="col-12 col-md-12">
      <h1 class="display-4 fw-bold">{{ .Params.title}}</h1>
      <p class="text-muted sz-20 mt-3">{{ .Params.description }} </p>
    </div>
  </div>
</section>

<section class="container product-attributes">
  <div class="row mx-auto d-flex justify-content-center">
    {{ range .Params.attributes }}
      <div class="col-12 col-lg-4 text-center">
        <span class="iconShadow {{.colour }}">
          <img src="{{ $bURL }}img/icons/{{ .icon}}.svg" class="mb-4" alt="">
        </span>
        <h3 class="text-center">{{ .title}}</h3>
        <p class="sz-16 text-center mb-5">{{ .description}}</p>
      </div>
    {{end}}
  </div>
</section>

{{- partial "contact-us.html" . -}}

{{ partial "footer.html" . }}